.agreement {
  height: 100vh;
  position: relative;
  &__inner {
    position: relative;
    top: 50%;
    @include transform(translate(0,-50%));
    padding-left: 15px;
    padding-right: 15px;
  }

  &__title {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 102px;
  }

  &__btn-group {
    max-width: 440px;
    margin: auto;
    @include flex-row();
  }

  &__item {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 4px;
    padding-right: 4px;
  }

  &__btn {
    display: block;
    text-transform: uppercase;
  }
}

@media(min-width: $md) {
  .agreement {
    height: auto;
    &__inner {
      top: 0;
      @include transform(translate(0,0));
      padding-left:0;
      padding-right:0;
    }

    &__title {
      color: #212121;
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 30px;
    }

    &__btn-group {
      max-width: 400px;
      text-align: center;
    }

    &__btn {
      width: 150px;
      display: inline-block;
      text-transform: none;
    }
  }

}
