.datepicker-wrap {
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
}

.datepicker-cont {
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  .header-picker {
    background: transparent!important;
  }

  .time-picker {
    display: none;
  }

  .inline .datepicker {
    background: transparent!important;
  }

  span {
    font-weight: 300;
    font-family: $Poppins;
  }

  .header-picker-date {
    text-transform: uppercase;
    font-size: 16px;
  }

  .datetimepicker .datepicker .pickers-container {
    background: transparent!important;
  }

  .custom-button {
    background: transparent!important;
    font-size: 16px;
    text-transform: uppercase;
    font-family: $Poppins ;
    font-weight: 300;

    span {
      color: #fff!important;
      fill:!important;
      background: transparent!important;
    }
  }

  .datepicker-days .datepicker-day .datepicker-day-text {
    height: 30px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.96)!important;
    font-family: Helvetica;
    font-weight: 400;
  }

  .datepicker-container .datepicker-days .datepicker-day {
    height: 30px!important;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.96);
    font-family: Helvetica;
    font-weight: 400;

    &.enable {
      .datepicker-day-text {
        background: #fff;
        border-radius: 6px;
        color: #6d569a!important;
        box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
      }
    }
  }
  .month-container {
    height: auto!important;
    overflow: visible!important;
  }

  .datepicker-days {
    overflow: visible!important;
  }

  .header-picker,
  .time-picker.with-border  {
    border:0;
  }

  .datepicker-buttons-container,
  .header-picker  {
    display: none!important;
  }

  .week-days-container {
    font-weight: 300;
    font-family: $Poppins;
    text-transform: uppercase;
    color: rgba(#fff,0.5);
    font-size: 9px!important;
  }

  .datepicker-button {
    svg {
      fill:#fff!important;
    }
  }
}

@media(min-width: $md) {
  .datepicker-wrap {
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background: #ffffff;
    padding: 15px;
  }

  .datepicker-cont {

    span {
      color: #6d569a;
    }


    .custom-button {
      span {
        color: #6d569a!important;
        fill:#6d569a!important;
      }
    }

    .datepicker-days .datepicker-day .datepicker-day-text {
      color: rgba(#6d569a, 0.96)!important;
    }

    .datepicker-container .datepicker-days .datepicker-day {
      color: rgba(#6d569a, 0.96);

      &.enable {
        .datepicker-day-text {
          background: #6d569a;
          color: #fff!important;
        }
      }
    }



    .week-days-container {
      color: rgba(#6d569a,0.5);
    }

    .datepicker-button {
      svg {
        fill:#6d569a!important;
      }
    }
  }
}
