.footer {
  background: #6d569a;
  padding: 39px 0 0;
  min-height: 150px;
  display: none;

  &__logo {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
  }

  .col {
    padding-left: 15px;
    padding-right: 15px;
  }

  &__copy-lang {
    margin: 12px 0 0;
    color: #ffffff;
    font-size: 10px;
    font-weight: 300;
  }

  &__list {
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
    max-width: 200px;
    text-align: left;

    &-item {
      margin-bottom: 2px;
    }

    &-link {
      color: #fff;
      line-height: 24px;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media(min-width: $md) {
  .footer {
    display: block;
  }
}

@media(max-width: 992px) {
  .footer__list {
    margin: 0 10px;
  }

  .footer__list-link {
    font-size: 14px;
  }
}
