.header {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  position: relative;
  z-index: 100;

  &__aside {
    min-width: 40px;
    min-height: 40px
  }

  &__user {
    @include square(40px);
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
  }

  &__logo {
    display: none;
  }

  &__info {
    width: 40px;
    padding: 9px 0 0 10px;
    &-bell,
    &-search {
      display: inline-block;
      text-decoration: none;
      position: relative;
    }

    &-badge {
      padding: 3px 4px 1px;
      background: #6d569a;
      border-radius: 100%;
      font-size: 8px;
      text-align: center;
      line-height: 1;
      color: #fff;
      font-weight: 700;
      position: absolute;
      top: 11px;
      right: -3px;
      min-width: 12px;
      animation: bounse 1s infinite;
    }

    &-search {
      .icon {
        fill: #fff;
      }
    }
  }

  &__settings {
    width: 17px;
    height: 40px;
    display:inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 11px 0 0;
    margin-right: 10px;
  }
}

.header-m {
    padding: 15px 0 5px;
  &__logo {
    display: none;
  }
  &__btn-mob {
    .icon {
      fill: #4c5264
    }
  }

  &__btn-filter {
    .icon {
      fill: #4c5264
    }
  }

  &__title {
    color: #6d569a;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  &__login-group {
    display: none;
  }
}

.menu-list-m {
  padding-top: 37px;

  .submit-full {
    margin: 50px 0 0;
  }

  &__logo  {
    text-align: center;
    margin: 0 0 58px;
    &-name {
      line-height: 1;
      color: #ffffff;
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      display: block;
      margin-bottom: 5px;
    }

    &-text {
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      display: block;
    }
  }

  &__item {
    display: block;
    margin-bottom: 1px;

    &-link {
      color: #ffffff;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 300;
      line-height: 48px;
      display: block;
      text-align: center;
      text-decoration: none;
    }
  }
}

@media(min-width: $md) {
  .header {
    background-color: #4d4d4d;
    height: 100px;
    margin-bottom: 30px;

    &__title,
    &__settings {
      display: none;
    }

    &__logo {
      display: inline-block;
      vertical-align: top;
      color: #ffffff;
      font-size: 30px;
      text-decoration: none;
      margin: 10px 15px 0 0;
    }

    .icon--bell {
      width: 27px;
      height: 33px;
    }

    &__info-badge {
        font-size: 10px;
        padding: 3px 5px 1px;
        top: 20px;
    }

    &__info {
        padding: 18px 0 0 15px;
    }

    &__aside {
      &:nth-child(1) {
        order:1;
      }
    }

    .col {
      order:0;
    }

    &__user {
      width: 60px;
      height: 60px;
      margin: 5px 0 0 30px;
    }
  }

  .header-m {
    padding-top: 15px;
    &__btn-mob {
      display: none;
    }

    &__logo {
      color: #ffffff;
      font-size: 30px;
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      line-height: 40px;
    }

    &__btn-filter {
      display: none;
    }

    &__login-group  {
      display: inline-block;
      vertical-align: top;

      .btn-r {
        color: #fff;
      }

      .btn-r ,
      .btn {
        width: 130px;
      }

      .btn {
        background: #6d569a;
        color: #fff;
        &:hover {
          background: #673ab7;
        }
      }
    }

    &__title {
      display: none;
    }
  }
}
