.info-list {
  max-width: 345px;
  margin: auto;
  margin-top: 10px;

  &__block {
    min-height: 100px;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background: #ffffff;
    @include flex-row();
    padding: 18px 15px;
    margin-bottom: 9px;

    .center-content {
      height: 100%;
    }

    &--order {
      min-height: 0;
      padding:20px 30px;
    }
  }

  &__col {
    width: 85px;
    padding-right: 5px;
  }

  &__item {
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
    }

    &-title {
      font-size: 14px;
      font-weight: 300;
      color: #000;
      line-height: 1.1;
    }

    &-sub-title {
      font-size: 14px;
      font-weight: 300;
      color: rgba(#000,0.5);
      line-height: 1.1;
    }

    &-text {
      font-size: 10px;
      font-weight: 300;
      color: rgba(#000,0.5);
      line-height: 1.1;
      margin: 4px 0 0;
    }
  }

  &__btn-group {
    display: inline-block;
    vertical-align: top;
  }

  &__btn-item {
    min-height: 30px;
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
    }
    .btn {
      min-width: 85px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__icon-group {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
  }

  &__icon-item {
    margin-top: 5px;
    @include square(33px);
    border: 1px solid;
    text-decoration: none;
    @include flex-content-center();
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:first-child {
      margin-top: 0;
    }

    &--green {
      border-color:#17af11;

      .icon {
        fill: #17af11;
      }
    }

    &--red {
      border-color:#ed0b0b;

      .icon {
        fill: #ed0b0b;
      }
    }

    &--blue {
      border-color:#0031ff;

      .icon {
        fill: #0031ff;
      }
    }
  }
}

.info-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1640px;

  &__btn {
    min-width: 120px;
  }

  th , td {
    color: #000000;
    text-align: center;
    font-size: 14px;
  }

  th {
    padding: 5px 15px;
    font-weight: 500;
    text-transform: uppercase;
  }

  td {
    font-weight: 300;
    padding: 30px 15px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.16);
  }

  b {
    font-weight: 500;
  }

  &__avatar {
    @include square(45px);
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
  }
}

@media(max-width: 350px) {
  .info-list {
    &__btn-item {
      .btn {
          min-width: 70px;
      }
    }

    &__icon-item {
      width: 26px;
      height: 26px;
    }

    &__col {
      width: 75px;
    }

    &__block {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
