.manage-girls {
  &__item {
    margin-bottom: 8px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__item-img-bg {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    padding-top: 0;
    text-align: center;
    min-height: 50px;
    width: 100%;
  }

  &__name,
  &__city   {
    text-shadow: 0 0 6px #000000;
    color: #ffffff;
    font-size: 12px;
  }

  &__name {
    font-weight: 700;
  }
  &__city {
    font-weight: 300;
  }

  &__settings {
    position: absolute;
    top: 7px;
    right: 6px;

    &-item {
      margin-bottom: 9px;
    }

    &-link {
      border: 1px solid #fff;
      border-radius: 100%;
      @include flex-content-center();
      @include transition(0.3s all ease);
      @include square(27px);

      &:hover {
        background: #6d569a;
        border-color: #6d569a;
      }

      .icon {
        fill: #fff;
      }

      .icon--delete {
        width: 11px;
        height: 16px;
      }

      .icon--camera {
        width: 13px;
        height: 10px;
      }
    }
  }
}

@media(min-width: 360px) {
  .manage-girls__item-img-bg {
    height: 220px;
  }
}

@media(min-width: 400px) {
  .manage-girls__item-img-bg {
    height: 260px;
  }
}

@media(min-width: 480px) {
  .manage-girls__item-img-bg {
    height: 300px;
  }
}

@media(min-width: 568px) {
  .manage-girls__item-img-bg {
    height: 340px;
  }
}

@media(min-width: 660px) {
  .manage-girls__item-img-bg {
    height: 380px;
  }
}

@media(min-width: 1024px) {
  .manage-girls__item-img-bg {
    height: 420px;
  }
}

@media(min-width: $md) {
  .manage-girls {
    &__name,
    &__city   {
      font-size: 14px;
    }

    &__settings {
      &-link {
        @include square(41px);

        .icon--delete {
          width: 19px;
          height: 24px;
        }

        .icon--camera {
          width: 30px;
          height: 15px;
        }

        .icon--pencil {
            width: 21px;
            height: 21px;
        }
      }
    }
  }
}
