.media {
  max-width: 440px;
  @include center();

  &__edit-hint {
    display: none;
  }

  &__edit-btn {
    &--md {
      display: none;
    }

    &--mob {
      height: 50px;
      @include flex-content-center();
    }
  }
}

.media-list {
  margin-top: 15px;
  margin-bottom: 15px;

  &__item {
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    margin-bottom: 8px;
    z-index: 2;
    position: relative;
    overflow: hidden;

    &--active {
      .media-list__icon--check {
        opacity: 1;
        visibility: visible;
        @include transform(translate(0,0));
      }

      .media-list__icon--delete {
        opacity: 0;
        visibility: hidden;
        @include transform(translate(0,-100%));
      }
    }

    .btn ,
    .btn-r {
      position: absolute;
      display: block;
      width: 133px;
      bottom: 15px;
      left: 50%;
      @include transform(translate(-50%,0));
    }

    .btn-r {
      background: transparent;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__img-bg {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__icon {
    @include square(27px);
    position: absolute;
    top: 7px;
    right: 6px;
    border-radius: 100%;
    @include flex-content-center();
    @include transition(0.3s all ease);

    .icon {
      fill: #fff;
    }

    &--delete {
      border: 1px solid #fff;

      .icon--delete {
        width: 11px;
        height: 14px;
      }
    }

    &--check {
      background: #6d569a;
      opacity: 0;
      visibility: hidden;
      @include transform(translate(0,-100%));
      box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);

      .icon--ckeck {
        width: 11px;
        height: 8px;
      }
    }
  }
}

@media(min-width: 360px) {
  .media-list__img-bg {
    height: 220px;
  }
}

@media(min-width: 400px) {
  .media-list__img-bg {
    height: 260px;
  }
}

@media(min-width: 480px) {
  .media-list__img-bg {
    height: 300px;
  }
}

@media(min-width: 568px) {
  .media-list__img-bg {
    height: 340px;
  }
}

@media(min-width: 660px) {
  .media-list__img-bg {
    height: 380px;
  }
}

@media(min-width: 1024px) {
  .media-list__img-bg {
    height: 420px;
  }
}

@media(min-width: $md) {
  .media {
    max-width: none;

    &__edit {
      box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      background-color: #fff;
      padding: 30px;

      h3 {
        text-align: left;
        margin: 0 0 15px;
      }

      &-hint,
      .btn__hint  {
        display: block;
        margin: auto;
        opacity: 0.5;
        color: #6d569a;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
      }
    }

    &__edit-btn {
      width: 210px;
      background: #6d569a;
      border-color: #6d569a;
      color: #fff;
      border-radius: 25px;
      display: block!important;
      margin: 30px auto;

      &--md {
        height: 50px;
        @include flex-content-center();
      }

      &--mob {
        display: none;
      }
    }

    &__edit-btn-wrap {
      max-width: 520px;
      margin: auto;
      height: 300px;
      border-radius: 15px;
      border: 1px solid #6d569a;
      @include flex-content-center();
      margin-bottom: 5px;
    }
  }

  .media-list__item .btn,
  .media-list__item .btn-r {
    font-size: 12px;
    padding: 8px 10px;
    width: auto;
    min-width: 133px;
  }
}
