.menu {
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  background-image: linear-gradient(209deg, #c0b2d6 0%, #6d569a 100%);
  @include transition(0.5s all ease);
  opacity: 0;
  visibility: hidden;
  @include transform(translate(-100%,0));

  &--active {
    opacity: 1;
    visibility: visible;
    @include transform(translate(0,0));
  }

  &__inner {
    max-width: 345px;
    margin: auto;
    padding-top: 70px;
  }
}
.menu-list {
  @include flex-row();
  margin-left: -12px;
  margin-right: -12px;
  padding-top: 8px;
  ms-flex-pack: center!important;
  justify-content: center!important;

  &__item {
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 8px;
  }

  &__inner {
    height: 109px;
    width: 109px;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background: #ffffff;
    position: relative;
    text-decoration: none;
    display: block;
    @include transition(0.3s all ease);

    &:hover,
    &--active  {
      background:  #6d569a;
      .icon {
        fill: #fff;
      }

      .menu-list__title {
        color: #fff;
      }

      .menu-list__important {
        background: #fff;
        color: #6d569a;
      }
    }
  }

  &__icon {
    height: 75px;
    text-align: center;
    @include flex-content-center();
    .icon {
      fill: #c0b1d6;
      @include transition(0.3s all ease);
    }
  }

  &__title {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-top: -3px;
    @include transition(0.3s all ease);
  }

  &__important {
    position: absolute;
    top: -1px;
    right: 0;
    @include transition(0.3s all ease);
    border-radius: 100%;
    background: #6d569a;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
  }
}

@media(min-width: $md) {
  .menu {
    max-width: none;
    opacity: 1;
    visibility: visible;
    @include transform(translate(0,0));
    position: static;
    top: auto;
    left: auto;
    min-height: 0;
    background: transparent;

    &__inner {
      padding-top: 0;
      width: 100%;
      max-width: none;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
