.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(209deg, #c0b2d6 0%, #6d569a 100%);
  z-index: 1000;
  visibility: hidden;
  padding-bottom: 30px;
  @include transform(translate(0,-100%));
  transition: 0.5s transform ease;

  p, ul {
    font-size: 14px;
    color: #fff;
    font-weight: 300;

    b {
      font-weight: 500;
    }
  }

  &__info {
    color: #fff;
    font-size: 14px;
    text-align: center;

    p {
      margin: 0;
    }
  }

  &__in {
    visibility: visible;
    @include transform(translate(0,0));
  }

  &__back {
    position: absolute;
    top: 15px;
    left: 15px;

    .icon {
      fill: #fff;
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    @include square(30px);
    display: block;
    z-index: 100;

    &:after,
    &:before {
      position: absolute;
      top: 14px;
      left: 2px;
      content: '';
      display: block;
      @include size(26px,1px);
      background: #fff;
      @include transition(0.3s all ease);
    }

    &:after {
      @include rotate(-45deg);
    }

    &:before {
      @include rotate(45deg);
    }
  }

  &__datepicker {
    padding-top: 40px;
  }

  &__body {
    padding: 45px 15px 15px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 100vh;

    .btn-group-full {
      margin-left: -30px;
      margin-right: -30px;
    }
  }

  &__title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.36px;
    line-height: 1;
    text-align: center;
    padding: 80px 0;
  }

  &__forgot-password {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
  }

  &__register {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 45px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
  }

  &__h3 {
    text-align: center;
    margin: 0 0 30px;
  }

  &__btn-fixed-w {
    height: 50px;
    margin-top: 30px;
  }

  &__btn-fixed {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: #6d569a;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    z-index: 500;
  }
}

#overlay {
  position: fixed;
  @include square(100%);
  top: 0;
  left: 0;
  z-index: 999;
  display: none;

  &:before {
    background-image: linear-gradient(209deg, #c0b1d6 0%, #6d569a 100%);
    position: absolute;
    top: 0;
    left: 0;
    @include square(100%);
    content: '';
    display: block;
  }
}

.alert {
  position: absolute;
  z-index: 1000;
  left: 15px;
  right: 15px;
  top: 15px;
  width: auto;
  max-width: 440px;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px 20px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  padding-right: 60px;
  visibility: hidden;
  opacity: 0;
  @include transition(0.3s all ease);
  @include transform(translate(-100%,0));

  &--active {
    @include transform(translate(0,0));
    opacity: 1;
    visibility: visible;
  }

  &__icon-important {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #6d569a;
    text-align: center;
    line-height: 20px;
    position: absolute;
    color: #fff;
    font-size: 16px;
    right: 20px;
    top: 50%;
    @include transform(translate(0,-50%));
  }
}

#filters {

}

#forgot-password {
  p {
    margin: 0;
    color: #fff;
    font-size: 14px;

    a {
      color: #fff;
    }
  }
}

@media(min-width: $md) {
  #overlay {
    background: rgba(#212121,0.79);
    &:before {
      display: none;
    }
  }

  .modal {
    background: #fff;
    min-height: 0;
    width: auto;
    position: absolute;
    @include center();
    left: 50%;
    top: 50px;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    height: auto;

    &__body  {
      height: auto;
      p , ul {
        color: #212121;
      }

      .btn-group-full {
        margin: 30px 0 0;
      }
    }

    &__info {
      font-size: 16px;
      color: #6d569a;
    }

    &__h3 {
      color: #212121;
      font-weight: 400;
    }

    &__back {
      display: none;
    }

    &__title {
      color: #6d569a;
      padding: 30px 0;
    }

    &__register {
      color: #6d569a;
      font-size: 12px;
      font-weight: 400;
      line-height: 28px;
      text-transform: uppercase;
    }

    &__forgot-password {
      color: #6d569a;
    }

    &__close {
      border: 1px solid #6d569a;
      border-radius: 100%;

      &:after ,
      &:before {
        background: #6d569a;
        left: 4px;
        width: 20px;
      }
    }

    &__datepicker {
      width: 440px;
      padding: 15px;
      margin-left: -220px;

      .datepicker-wrap {
        box-shadow: none;
      }
    }

    &__orders {
      left: 15px;
      right: 15px;
      max-width: 1640px;
      @include center();
      padding: 30px 15px;
    }

    &__sign-in {
      padding-bottom: 0;
      width: 400px;
      margin-left: -200px;

      .modal__body {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    &__small {
      padding-bottom: 0;
      width: 600px;
      margin-left: -300px;
    }

    &__btn-fixed-w {
      text-align: center;
    }

    &__btn-fixed {
      color: #fff;
      background: #6d569a;
      display: inline-block;
      vertical-align: top;
      border-radius: 50px;
      width: auto;
      padding: 0 30px;
      position: static;
      left: auto;
      bottom: auto;

      &:hover {
        background: #673ab7;
      }
    }
  }

  #agreement {
    width: 536px;
    margin-left: -268px;
    padding: 50px 30px 55px;
  }

  #forgot-password {
    width: 500px;
    margin-left: -250px;
    padding-bottom: 0;

    p {
      color: #212121;

      a {
        color: #6d569a;

        &:hover {
          text-decoration: none;
        }

        small {
          color: #212121;
        }
      }
    }
  }

}
