.order-list {
  &__item {
    margin-top: 15px;
    @include center();
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    background: #ffffff;
    max-width: 600px;
  }

  &__header {
    height: 40px;
    line-height: 40px;
    border-radius: 6px 6px 0 0;
    background-color: #c0b1d6;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    letter-spacing: 0.5px;

    &--active {
      background: #6d569a;
    }

    b {
      font-weight: 500;
    }
  }

  &__body {
    padding: 15px;
  }

  &__text {
    p {
      margin: 0;
      font-size: 13px;
      font-weight: 300;
      color: #000;
      line-height: 1.1;

      b {
        font-weight: 400;
      }
    }
  }

  &__price {
    font-size: 18px;
    color: #6d569a;
    margin-top: 15px;
  }
}
