.personal-info {
  &__list {
    margin-left: -15px;
    margin-right: -15px;

    [class*="col-"] {
      padding-left: 15px;
      padding-right: 15px;
    }

    &-item {
      box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
      border-radius: 15px;
      background: #fff;
      padding: 15px 10px;
      text-align: center;
      color: #212121;
      margin-bottom: 20px;
    }

    &-name {
      font-size: 16px;
      font-weight: 300;
      line-height: 1;
    }

    &-cont {
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
      padding-top: 8px;
    }
  }

  &__table {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 30px;

    [class*="col-"] {
      padding-left: 15px;
      padding-right: 15px;
    }

    &-item {
      padding: 0 0 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #707070;
      color: #212121;
    }

    &-name {
      font-size: 16px;
      font-weight: 300;
      line-height: 1;
    }

    &-cont {
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      padding-top: 8px;
    }
  }
}

@media(min-width: 1024px) {
  .personal-info {
    &__table {
      margin-left: -30px;
      margin-right: -30px;

      [class*="col-"] {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}
