.profile {
  margin-top: 30px;

  .btn__group-full {
    margin-bottom: 30px;

    .btn {
      margin-bottom: 0;
    }
  }

  &__block {
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    background: #ffffff;
    max-width: 440px;
    margin: auto;
    margin-bottom: 30px;
  }

  &__header-date {
    color: #fff;
    height: 40px;
    text-align: center;
    border-radius: 6px 6px 0 0;
    background: #6d569a;
    width: auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
  }

  &__body {
    padding: 15px;
  }

  &__item {
    padding-bottom: 15px;
    text-align: center;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        color: #000000;
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        text-transform: uppercase;
      }
    }
  }

  &__title {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__info-text  {
    text-decoration: none;
    color: #6d569a;
    font-size: 16px;
    font-weight: 500;
  }

  &__pic {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-name {
      text-align: center;
      color: #000000;
      font-size: 12px;
      font-weight: 300;
      line-height: 1;
      margin-top: 8px;
    }
  }

  &__btn-group {
    text-align: center;

    .btn {
      margin: 0 4px;
      width: 109px;
    }
  }
}
