.person-list {
  margin: 30px auto;

  &__filter-btn {
    display: none;
  }

  &__item {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    z-index: 2;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    display: block;
  }

  &__item-img-bg {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-img {
    display: block;
    width: 100%;
  }

  &__status {
    position: absolute;
    right: 0;
    top: 17px;
    @include transition(0.3s all ease);
    z-index: 10;

    &-item {
      margin-bottom: 5px;
      width: 40px;
      height: 16px;
      text-align: center;
      color: #fff;
      font-size: 9px;
      font-weight: 500;
      line-height: 16px;
      border-radius: 30px 0 0 30px;

      &--vip {
        background: rgba(#6d569a,0.78);
      }

      &--video {
        background: rgba(#c0b2d6,0.78);
      }
    }
  }

  &__pre-info {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: center;
    @include transition(0.3s all ease);
  }

  &__info {
    position: absolute;
    @include square(100%);
    @include transition(0.3s all ease);
    transform: translate(0,100%);
    top: 0;
    left: 0;
    background: rgba(#fff,0.8);
    color: #212121;
    padding: 15px;
    .person-list__name,
    .person-list__place {
      color: #212121;
      text-shadow: none;
    }
  }

  &__text {
    margin: 8px 0 0;

    p {
      margin: 0 0 8px;
      color: #212121;
      font-size: 10px;
      font-weight: 300;
    }
  }

  &__about {
    color: #212121;
    display: none;
    font-size: 12px;
    font-weight: 300;
    [class*="col-"] {
      margin-bottom: 6px;
    }
  }

  &__name {
    text-shadow: 0 0 6px #000000;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    @include transition(0.3s all ease);
  }

  &__place {
    text-shadow: 0 0 6px #000000;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
  }

  &__show-more {
    text-align: center;
    margin-bottom: 40px;

    .btn {
      width: 200px;
    }
  }
}

.filters {
  padding: 30px 0;
  display: none;

  &-row {
    margin-bottom: 20px;
    max-width: 1050px;

    .btn {
      min-width: 120px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  .checkbox {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 20px 0;
    line-height: 40px;

    &__styler {
      top: 50%;
      transform: translate(0,-50%);
    }
  }

  &__h3 {
    color: #6d569a;
    font-size: 60px;
    font-weight: 700;
    margin: 0;
  }

  &__btn-label {
    width: 200px;
    padding-right: 15px;
    color: #6d569a;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
  }
}

@media(min-width: 360px) {
  .person-list__item-img-bg {
    height: 220px;
  }
}

@media(min-width: 400px) {
  .person-list__item-img-bg {
    height: 260px;
  }
}

@media(min-width: 480px) {
  .person-list__item-img-bg {
    height: 300px;
  }
}

@media(min-width: 568px) {
  .person-list__item-img-bg {
    height: 340px;
  }
}

@media(min-width: 660px) {
  .person-list__item-img-bg {
    height: 380px;
  }
}

@media(min-width: 1024px) {
  .person-list__item-img-bg {
    height: 420px;
  }
}

@media(min-width: $md) {
  .filters {
    display: block;
  }
  .person-list {
    &__item {
      &:hover,
      &--active {
        .person-list__status {
          transform: translate(100%,0);
        }

        .person-list__pre-info {
          transform: translate(0,100%);
        }

        .person-list__info {
          transform: translate(0,0);
        }
      }
    }
    &__pre-info {
      text-align: left;
    }

    &__name {
      font-size: 16px;
    }

    &__place {
      font-size: 14px;
    }

    &__about {
      display: block;
    }

    &__status-item {
      font-size: 14px;
      width: 56px;
      height: 26px;
      line-height: 26px;
      padding-left: 5px;
      font-weight: 300;
    }

    &__filter-btn {
      display: block;
      .btn {
        width: 200px;
        background: #6d569a;
        color: #fff;
        border-radius: 25px;
        &:hover {
          background: #673ab7;
        }

        .icon  {
          fill: #fff;
          margin-left: 15px;
        }
      }
    }

    &__show-more {
      margin-top: 60px;

      .btn {
        width: 200px;
        border-radius: 25px;
        background: #6d569a;
        color: #fff;
        &:hover {
          background: #673ab7;
        }
      }
    }
  }
}

@media(min-width: 1600px) {
  .person-list {
    [class*="col-"] {
      width: 20%;
    }
  }
}
