.welcome-p {
  .header-m {
    display: none;
  }

  &__back {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 50;

    .icon {
      fill: #fff;
    }
  }

  &__inner  {
    display: none;
  }
}

.slider-u {
  position: relative;
  height: calc(100vh - 65px);

  &__arrow {
    display: none;
  }

  &__item {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__dots {
    position: absolute;
    z-index: 50;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 19px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center!important;
    justify-content: center!important;

    &-item {
      width: 6px;
      height: 6px;
      background: rgba(#fff,0.3);
      margin: 0 2px;
      border-radius: 100%;

      &:hover ,
      &--active {
        background: #fff;
      }
    }
  }
}

.profile-u {
  &__m-info {
    padding: 15px 0;
  }

  &__name {
    color: #6d569a;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 5px;

    .icon {
      fill: #000;
      opacity: 0.7;
      margin: 1px 0 0 3px;
    }
  }

  &__place {
    color: #6d569a;
    font-size: 14px;
    font-weight: 300;
    line-height:1;
  }

  &__star {
    padding-top: 8px;
    .icon {
      fill: #6d569a;
    }

    .icon--star-full {
      display: none;
    }

    &--active {
      .icon--star {
        display: none;
      }

      .icon--star-full {
        display: block;
      }
    }
  }

  &__inner {
    margin-top: 80px;
  }
}

@media(min-width: $md) {
  .welcome-p {
    position: relative;
    .header-m {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 60;
    }

    &__back {
      display: none;
    }

    &__inner {
      display: block;
      position: relative;
      height: 450px;
      background: rgba(#000,0.6);
      z-index: 50;
      padding-top: 85px;
    }

    &__status {
      @include flex-row();
      -ms-flex-pack: center!important;
      justify-content: center!important;

      &-item {
        margin: 0 5px;

        .icon {
          fill: #fff;

          &--check-o {
            margin-top: 2px;
            width: 50px;
            height: 50px;
          }
        }
      }

      &-video,
      &-vip {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        line-height: 50px;
      }

      &-vip {
        background: #6d569a;
      }

      &-video {
        background: #c0b1d6;
      }
    }

    &__name {
      text-align: center;
      color: #fff;
      font-size: 120px;
      font-weight: 700;
      line-height: 1;
      margin: 12px 0 0;
    }

    &__info {
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      font-weight: 300;
      line-height: 1;
      margin: 2px 0 0;
    }

    &__phone {
      width: 280px;
      height: 50px;
      border-radius: 25px;
      border: 2px solid #6d569a;
      margin: 40px auto 0;
      position: relative;
      line-height: 46px;
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      font-weight: 300;

      &--active {
        .welcome-p__phone-inner span {
          display: none;
        }
      }

      &-inner {
        display: inline-block;
        vertical-align: top;

        span {
          display: block;
          position: absolute;
          top: -2px;
          right: -2px;
          height: 50px;
          width: 200px;
          border-radius: 25px;
          background: #6d569a;
          text-align: center;
          color: #ffffff;
          font-size: 16px;
          font-weight: 300;
          line-height: 50px;
        }
      }
    }
  }

  .slider-u {
    position: absolute;
    height: 450px;
    width: 100%;
    top: 0;
    left: 0;

    &__item {
      height: 450px;
    }

    &__dots {
      display: none;
    }

    &__arrow {
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -28px;
      z-index: 80;
      cursor: pointer;

      &--prev {
        left: 30px;
      }

      &--next  {
        right: 30px;
      }

      .icon {
        fill: #fff;
        width: 31px;
        height: 57px;
        transition: 0.3s all ease;
      }

      &:hover {
        .icon {
          fill: #6d569a;
        }
      }
    }
  }

}
