.welcome  {
  &__choise {
    text-align: center;
    display: block;

    a {
        text-decoration: none;
    }
    
    span {
      color: #4c5264;
      font-size: 10px;
      font-weight: 600;
      line-height: 14px;
    }

    .icon  {
      width: 11px;
      height: 6px;
      fill: #4c5264;
      margin: 10px 0 0 5px;
    }
  }

  &__text {
    display: none;
  }

  &__choise-d {
    display: none;
  }

  &__statistics {
    display: none;
  }
}

@media(min-width: $md) {
  .welcome  {
    position: relative;
    height: 450px;
    background: url("#{$rootUrl}welcome-bg.jpg") no-repeat center top;
    background-size: cover;
    padding: 50px 0 0;
    margin-bottom: 50px ;

    .header-m {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100;
    }

    &__text {
      display: block;
      text-align: center;
      color: #ffffff;
      font-size: 18px;
      margin: 49px 0 0;
    }

    &__choise {
      display: none;
    }

    &__choise-d {
      display: block;
      width: 600px;
      height: 50px;
      border-radius: 50px;
      background: rgba(#ffffff,0.79);
      position: relative;
      margin: auto;
      margin-top: 39px;
      color: rgba(#212121,0.5);
      font-size: 16px;
      line-height: 1;
      font-weight: 300;
      padding: 17px 30px;
      text-decoration: none;

      &:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 9px 0 9px;
        border-color: #212121 transparent transparent transparent;
        opacity: 0.49;
        content: '';
        display: block;
        position: absolute;
        top: 18px;
        right: 30px;
      }
    }

    &__statistics  {
      width: 600px;
      padding: 0 10px;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: justify!important;
      justify-content: space-between!important;

      &-item {
        text-align: center;
      }

      &-title {
        color: rgba(#ffffff,0.8);
        font-size: 18px;
        margin-bottom: 5px;
      }

      &-num {
        color: #ffffff;
        font-size: 40px;
      }
    }
  }
}

@media(min-width: 1200px) {
  .welcome  {
    margin-bottom: 150px;
  }
}
