.welcome-nav {
  position: relative;
  height: calc(100vh - 70px);
  max-width: 400px;
  margin: auto;
  &__list {
    position: relative;
    top: 50%;
    @include transform(translate(0,-50%));
    @include flex-row();
    margin: 0 0.5px;
    padding-top: 19px;

    &-item {
      padding: 0 0.5px;
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 19px;
    }

    &-link {
      display: block;
      @include transition(0.3s all ease);
      height: 50px;
      line-height: 50px;
      background: #fff;
      text-decoration: none;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      color: #6d569a;
    }
  }
}

@media(min-width: $md) {
  .welcome-nav {
    height: auto;
    padding: 30px 15px;
    &__list {
      top: auto;
      @include transform(translate(0,0));

      &-link {
        background:#6d569a;
        color: #fff;
      }
    }
  }
}
