include ../_inc/var.pug
include ../_inc/mixins.pug
include ../_partials/header.pug

doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(rel="stylesheet" href="css/style.css")
    block head_end
    
  body
    #overlay
    block content

    script(type="text/javascript" src="js/app.min.js")
    block body_end
