mixin agreement(fixed)    
  div(class=(fixed) ? 'agreement agreement__fixed' : 'agreement')
    .agreement__inner
      .agreement__title Are You Sure?
      .agreement__btn-group.hidden-md
        .agreement__item
          a(href="").btn.btn__large.agreement__btn yes
        .agreement__item
          a(href="").btn.btn__large.agreement__btn no
      .hidden.show-md 
        .agreement__btn-group
          .agreement__item
            a(href="").btn.agreement__btn Yes
          .agreement__item
            a(href="").btn.btn__violet.agreement__btn No
