extends _layouts/content

block content
  main#main.main-no-bg
    .welcome 
      include _partials/header-main
      .welcome__text Worldwide Escort Directory
        br
        | Free advertising  Find your companion
      .welcome__choise
        a(href="#choise-city").modal-btn
          span LONDON
          svg.icon.icon--arrow-down
            use(xlink:href="img/sprite.svg#arrow-down")
      a(href="#choise-city").welcome__choise-d.modal-btn choose city
      .welcome__statistics
        .welcome__statistics-item
          .welcome__statistics-title agencies
          .welcome__statistics-num 1056
        .welcome__statistics-item 
          .welcome__statistics-title photos
          .welcome__statistics-num 1056
        .welcome__statistics-item 
          .welcome__statistics-title countries
          .welcome__statistics-num 1056
    include _partials/person-list
  include _partials/footer
  include _partials/modal
  #choise-city.modal.modal__small
    a(href="").modal__close
      span 
    .modal__body
      h3.modal__h3 Choose City
      .flex-wrap.flex-p-wrap 
        .col-1-2.col-md-1-3.mb-15
          a(href="").btn.btn__full Honk Kong (777)
        .col-1-2.col-md-1-3.mb-15
          a(href="").btn.btn__full Dubai (123)
        .col-1-2.col-md-1-3.mb-15
          a(href="").btn.btn__full Paris (213)
        .col-1-2.col-md-1-3.mb-15
          a(href="").btn.btn__full.btn--active London (460)
        .col-1-2.col-md-1-3.mb-15
          a(href="").btn.btn__full Milan (221)
        .col-1-2.col-md-1-3.mb-15
          a(href="").btn.btn__full Tokyo (758)
        .col-1-2.col-md-1-3.mb-15
          a(href="").btn.btn__full Athens (68)
        .col-1-2.col-md-1-3.mb-15
          a(href="").btn.btn__full Cape Town (68)
          
          
