extends _layouts/content

block content
  main#main.main-no-bg
    .welcome-p
      include _partials/header-main
      a(href="").welcome-p__back
        svg.icon.icon--arrow-back
          use(xlink:href="img/sprite.svg#arrow-back")
      .welcome-p__inner 
        .welcome-p__status
          .welcome-p__status-item 
            svg.icon.icon--favorite
              use(xlink:href="img/sprite.svg#favorite")
          .welcome-p__status-item 
            svg.icon.icon--check-o
              use(xlink:href="img/sprite.svg#check-o")
          .welcome-p__status-item 
            .welcome-p__status-vip vip
          .welcome-p__status-item 
            .welcome-p__status-video video
        .welcome-p__name Jesica
        .welcome-p__info Pageviews 4,945 • since 2018.04.10.
        .welcome-p__phone +3
          .welcome-p__phone-inner 3753614205
            span Show phone
      .slider-u
        .slider-u__item(style="background-image: url(img/pic-8.png);")
        .slider-u__dots
          .slider-u__dots-item.slider-u__dots-item--active
          .slider-u__dots-item
          .slider-u__dots-item
        .slider-u__arrow.slider-u__arrow--prev
          svg.icon.icon--arrow-left
            use(xlink:href="img/sprite.svg#arrow-left")
        .slider-u__arrow.slider-u__arrow--next
          svg.icon.icon--arrow-right
            use(xlink:href="img/sprite.svg#arrow-right")
    .main-container.hidden-md
      .profile-u__m-info.flex-wrap.flex-p-wrap
        .col-auto
          .profile-u__name Jesica, 27
            svg.icon.icon--guarantee
              use(xlink:href="img/sprite.svg#guarantee")
          .profile-u__place London
        .col-auto.ml-auto
          .profile-u__star
            svg.icon.icon--star
              use(xlink:href="img/sprite.svg#star")
            svg.icon.icon--star-full
              use(xlink:href="img/sprite.svg#star-full")
      .tabs
        .tabs-list.flex-wrap
          .tabs-list__item.col-1-2
            a(href="").tabs-list__item-link Bio
          .tabs-list__item.col-1-2
            a(href="").tabs-list__item-link.tabs-list__item-link--active Contacts
        .tabs__item 1
        .tabs__item.tabs__item--active 
          .info-table-m
            .info-table-m__row.flex-wrap
              .col-auto.info-table-m__item Base city
              .col-auto.ml-auto.info-table-m__item London
            .info-table-m__row.flex-wrap
              .col-auto.info-table-m__item Phone Number
              .col-auto.ml-auto.info-table-m__item 
                .phone-m +7 
                  .phone-m__inner 91112223334
                    span Show number
            .info-table-m__row.flex-wrap
              .col-auto.info-table-m__item Phone Number
              .col-auto.ml-auto.info-table-m__item 
                .phone-m.phone-m--active +7 
                  .phone-m__inner 91112223334
                    span Show number
            .info-table-m__row.flex-wrap
              .col-auto.info-table-m__item Phone Instructions
              .col-auto.ml-auto.info-table-m__item SMS and Call
    .main-container.hidden.show-md 
      .profile-u__inner.flex-wrap.flex-p-wrap 
        .col-1-2 
          .cont-block.max-width-500
            h3 About
            p This is another naughty one. A-Level. A true lover of all things sexual she is enthusiastic and you won't be left wanting. Packing a sexy 160cm gym toned body and a gorgeous face, she is highly recommended. Mid 27's.
          .cont-block.max-width-500
            h3 Price / Rates
            .flex-wrap.flex-p-wrap 
              .col-1-3.mb-15
                a(href="").btn.btn__full.text-uppercase.pl-0.pr-0 INCAL
              .col-1-3.mb-15
                a(href="").btn.btn__full.text-uppercase.pl-0.pr-0.btn--active OUTCAL
              .col-1-3.mb-15
              .col-1-3.mb-15
                a(href="").btn.btn__full.text-uppercase.pl-0.pr-0 1H PRICE
              .col-1-3.mb-15
                a(href="").btn.btn__full.text-uppercase.pl-0.pr-0 2H PRICE
              .col-1-3.mb-15
                a(href="").btn.btn__full.text-uppercase.pl-0.pr-0 3H PRICE
              .col-1-3.mb-15
                a(href="").btn.btn__full.text-uppercase.pl-0.pr-0.btn--active 12H PRICE
              .col-1-3.mb-15
                a(href="").btn.btn__full.text-uppercase.pl-0.pr-0 24H PRICE
            .text-right 
              .total
                .total__text Total Price
                .total__num 1 500 €
            h3.mt-30 Currency Converter 
            .flex-wrap.flex-p-wrap
              .col-auto
                .select-m.select-m__left
                  .select-m__btn €
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                    .select-m__dropdown
                      .select-m__dropdown-inner
                        ul
                          li.active €
                          li $
                  .select-m__cont 2000
              .col.text-center
                .or-be
                  svg.icon.icon--load-o
                    use(xlink:href="img/sprite.svg#load-o")
              .col-auto.ml-auto 
                .select-m.select-m__right
                  .select-m__btn $
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                    .select-m__dropdown
                      .select-m__dropdown-inner
                        ul
                          li €
                          li.active $ 
                  input(type="text" value="1766,16").select-m__cont
          .cont-block.max-width-500
            h3 Personal Details
            .personal-info
              .flex-wrap.personal-info__list
                .col-1-3
                  .personal-info__list-item
                    .personal-info__list-name Age
                    .personal-info__list-cont 27
                .col-1-3
                  .personal-info__list-item
                    .personal-info__list-name Height
                    .personal-info__list-cont 168cm
                .col-1-3
                  .personal-info__list-item
                    .personal-info__list-name Weight
                    .personal-info__list-cont 56kg
                .col-1
                  .personal-info__list-item
                    .personal-info__list-name Base City
                    .personal-info__list-cont England,London
              .flex-wrap.personal-info__table
                .col-1-2
                  .personal-info__table-item
                    .personal-info__table-name Hair
                    .personal-info__table-cont Brown
                .col-1-2
                  .personal-info__table-item
                    .personal-info__table-name Nationality
                    .personal-info__table-cont Latvian
                .col-1-2
                  .personal-info__table-item
                    .personal-info__table-name OutcallOutcall
                    .personal-info__table-cont Home, Hotel Room
                .col-1-2
                  .personal-info__table-item
                    .personal-info__table-name Body (cm)
                    .personal-info__table-cont 90/60/90
                .col-1-2
                  .personal-info__table-item
                    .personal-info__table-name Languages
                    .personal-info__table-cont French, German, English, Italian
                .col-1-2
                  .personal-info__table-item
                    .personal-info__table-name Eyes
                    .personal-info__table-cont Blue
                .col-1-2
                  .personal-info__table-item
                    .personal-info__table-name Music
                    .personal-info__table-cont Techno, House, Lounge,Classique
                .col-1-2
                  .personal-info__table-item
                    .personal-info__table-name Favourite drink
                    .personal-info__table-cont Vin, Champagne
                .col-1-2
                  .personal-info__table-item
                    .personal-info__table-name Other hobbies
                    .personal-info__table-cont Ski, Snowboard, Theatres, Cinema
        .col-1-2 
          .image-slider 
            .image-slider__item
              //img(src="img/pic-9.png").image-slider__img
              .image-slider__img-bg(style="background-image:url(img/pic-9.png)")
            .image-slider__arrow.image-slider__arrow--prev
              svg.icon.icon--arrow-left
                use(xlink:href="img/sprite.svg#arrow-left")
            .image-slider__arrow.image-slider__arrow--next
              svg.icon.icon--arrow-right
                use(xlink:href="img/sprite.svg#arrow-right")
            .image-slider__dots
              .image-slider__dots-item.image-slider__dots-item--active
              .image-slider__dots-item
              .image-slider__dots-item
              .image-slider__dots-item
          .cont-block.mt-30
            .video-cont(style="background-image:url(img/pic-8.png)")
              a(href="").video-cont__play
                .video-cont__play-inner
                  svg.icon.icon--play
                    use(xlink:href="img/sprite.svg#play")
  include _partials/footer
  include _partials/modal
