.main-container
  .form-cont
    form(action="")
      .flex-wrap.flex-p-wrap
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            h3.form-cont__h3 Basic Settings
            .form-row 
              label.form-row__label(for="account-email") E-mail Address
              input(id="account-email" type="email" placeholder="mail@gmail.com" value="mail@gmail.com").form-row__input
              span.form-row__line
            .form-row 
              label.form-row__label(for="account-password") New Password
              input(id="account-password" type="password" placeholder="New Password").form-row__input
              span.form-row__line
            .form-row 
              label.form-row__label(for="account-re-password") Re New Password
              input(id="account-re-password" type="password" placeholder="Re New Password").form-row__input
              span.form-row__line
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            .form-cont__submit-wrap
              h3 Save Settings
              button.btn.btn__large.form-cont__submit Save
    
