.footer 
  .main-container
    .flex-wrap
      .footer__aside 
        a(href="").footer__logo Logo
        .footer__copy-lang All rights reserved Copyright © 2019
      .col.text-center
        .footer__list
          .footer__list-item
            a(href="").footer__list-link New
          .footer__list-item
            a(href="").footer__list-link VIP
          .footer__list-item
            a(href="").footer__list-link Contact us
        .footer__list
          .footer__list-item
            a(href="").footer__list-link Recruitments
          .footer__list-item
            a(href="#terms-conditions").footer__list-link.modal-btn Terms and conditions
          .footer__list-item
            a(href="").footer__list-link Privacy Policy
        .footer__list
          .footer__list-item
            a(href="").footer__list-link Refund Policy
      .footer__aside 
        .footer__list
          .footer__list-item 
            a(href="").footer__list-link escort@ite.com
          .footer__list-item 
            a(href="tel:+3764356789").footer__list-link +3764356789
