mixin header(account)
  header.header
    .main-container.flex-wrap
      .header__aside
        if account
          a(href="#menu").header__settings 
            svg.icon.icon--filters
              use(xlink:href="img/sprite.svg#filters")
          a(href="" style="background-image:url(img/pic-1.png)").header__user
        else
          a(href="#menu").header__settings 
            svg.icon.icon--filters
              use(xlink:href="img/sprite.svg#filters")
      .col
        .header__title= header_title
        a(href="index.html").header__logo Logo
      .header__aside
        case active_page
          when 'menu'
            .header__info 
              a(href="").header__info-bell
                svg.icon.icon--bell
                  use(xlink:href="img/sprite.svg#bell")
          when 'validation'
            .header__info 
              a(href="").header__info-search
                svg.icon.icon--search
                  use(xlink:href="img/sprite.svg#search")
          when 'validation-list'
            .header__info 
              a(href="").header__info-search
                svg.icon.icon--search
                  use(xlink:href="img/sprite.svg#search")
          when 'search'
            .header__info 
              a(href="").header__info-search
                svg.icon.icon--search
                  use(xlink:href="img/sprite.svg#search")
          when 'user-id'
            .header__info 
              a(href="").header__info-bell
                svg.icon.icon--bell
                  use(xlink:href="img/sprite.svg#bell")
                .header__info-badge 1
          when 'tour'
            .header__info 
              a(href="").header__info-bell
                svg.icon.icon--bell
                  use(xlink:href="img/sprite.svg#bell")
                .header__info-badge 1
          when 'tour-edit'
            .header__info 
              a(href="").header__info-bell
                svg.icon.icon--bell
                  use(xlink:href="img/sprite.svg#bell")
                .header__info-badge 1
          when 'my-orders'
            .header__info 
              a(href="").header__info-bell
                svg.icon.icon--bell
                  use(xlink:href="img/sprite.svg#bell")
                .header__info-badge 1
          when 'my-orders-list'
            .header__info 
              a(href="").header__info-bell
                svg.icon.icon--bell
                  use(xlink:href="img/sprite.svg#bell")
                .header__info-badge 1
          when 'styles'
            .header__info 
              a(href="").header__info-bell
                svg.icon.icon--bell
                  use(xlink:href="img/sprite.svg#bell")
                .header__info-badge 1
                  
