header.header-m
  .main-container 
    .flex-wrap.flex-p-wrap 
      .col-auto
        a(href="#menu-list").header-m__btn-mob.modal-btn
          svg.icon.icon--filters
            use(xlink:href="img/sprite.svg#filters")
        a(href="").header-m__logo Logo
      .col 
        .header-m__title All
      .col-auto.ml-auto
        a(href="#filters").header-m__btn-filter.modal-btn
          svg.icon.icon--search
            use(xlink:href="img/sprite.svg#search")
        .header-m__login-group 
          a(href="#sign-in").btn.modal-btn Sign In
          a(href="#register").btn-r.ml-15.modal-btn Register
#menu-list.modal
  .modal__body
    a(href="").modal__close
      span 
    .menu-list-m
      .menu-list-m__logo
        span.menu-list-m__logo-name LOGO
        span.menu-list-m__logo-text onlyrealme.com
      .menu-list-m__item
        a(href="").menu-list-m__item-link Home
      .menu-list-m__item
        a(href="").menu-list-m__item-link New
      .menu-list-m__item
        a(href="").menu-list-m__item-link VIP
      .menu-list-m__item
        a(href="").menu-list-m__item-link Contact us
      .menu-list-m__item
        a(href="").menu-list-m__item-link Recruitments
      .menu-list-m__item
        a(href="#terms-conditions").menu-list-m__item-link.modal-btn Terms and conditions
      a(href="#sign-in").submit-full.modal-btn SIGN IN
#sign-in.modal.modal__sign-in
  .modal__body
    a(href="#menu-list").modal__back.modal-btn
      svg.icon.icon--arrow-back
        use(xlink:href="img/sprite.svg#arrow-back")
    a(href="").modal__close
      span 
    .modal__title Sign In
    .form-row 
      input(id="sign-in-email" type="password" placeholder="Email").form-row__input.text-center
      span.form-row__line
    .form-row 
      input(id="sign-in-password" type="password" placeholder="Password").form-row__input.text-center
      span.form-row__line
    .form-row
      a(href="#").btn.btn__large.btn__full.btn__md-violet SIGN IN
    .form-row.text-center
      a(href="#forgot-password").modal__forgot-password.modal-btn Forgot password? 
    .text-center
      a(href="#register").modal__register.modal-btn REGISTER
#register.modal.modal__sign-in
  .modal__body
    a(href="#menu-list").modal__back.modal-btn
      svg.icon.icon--arrow-back
        use(xlink:href="img/sprite.svg#arrow-back")
    a(href="").modal__close
      span 
    .modal__title.pb-0 Register
    .btn-group-full.flex-wrap
      .btn-group-full__item.col-1-2 
        a(href="").btn-group-full__link Independent
      .btn-group-full__item.col-1-2 
        a(href="").btn-group-full__link.btn-group-full__link--active Agency
    .form-row.mt-30
      label.form-row__label(for="user-email") E-mail 
      input(id="user-email" type="email" placeholder="mail@gmail.com" onclick="this.placeholder=''" onblur="this.placeholder='mail@gmail.com'").form-row__input
      span.form-row__line
    .form-row
      label.form-row__label(for="user-re-email") Re-enter your Email address 
      input(id="user-re-email" type="email" placeholder="mail@gmail.com" onclick="this.placeholder=''" onblur="this.placeholder='mail@gmail.com'").form-row__input
      span.form-row__line
    .form-row
      label.form-row__label(for="user-password") New Password
      input(id="user-password" type="password" placeholder="New Password" onclick="this.placeholder=''" onblur="this.placeholder='New Password'").form-row__input
      span.form-row__line
    .form-row.mt-30
      a(href="#").btn.btn__large.btn__icon.btn__full.btn__md-violet 
        svg.icon.icon--register.mr-15
          use(xlink:href="img/sprite.svg#register")
        | REGISTER 
#forgot-password.modal
  a(href="#menu-list").modal__back.modal-btn
    svg.icon.icon--arrow-back
      use(xlink:href="img/sprite.svg#arrow-back")
  a(href="").modal__close
    span 
  .modal__body
    .modal__title.pb-0.mb-15 Check your email!
    .modal__info
      p We have sent a confirmation link to your e-mail address below. 
        br
        | Click on it to continue. 
    .form-row.mt-30
      input(id="user-name" type="email" placeholder="email.mail@gmail.com").form-row__input.form-row__input--large
      span.form-row__line
    .form-cont__submit-wrap
      a(href="").btn.btn__large.form-cont__submit Send
    .text-center.mt-30
      p Didn't receive it? 
        a(href="#") Send Again
      p
        a(href="#")
          small Check your Spam / Junk folder.
#terms-conditions.modal.modal__small
  a(href="#menu-list").modal__back.modal-btn
    svg.icon.icon--arrow-back
      use(xlink:href="img/sprite.svg#arrow-back")
  a(href="").modal__close
    span 
  .modal__body
    .modal__title.p-0 Terms
    h2 Article 1
    h4 Who May Use the Services
    p When one door of happiness closes, another opens, but often we look so long at the closed door that we do not see the one that has been opened for us. 
    ul 
      li 
        b Step 1:  
        | You may use the Services only if you agree to form a binding contract with us and are not a person barred from receiving services under the laws of the applicable jurisdiction
      li
        b Step 2:  
        | Our Privacy Policy describes how we handle the information you provide to us when you use our Services. 
    h4 Privacy
    p When one door of happiness closes, another opens, but often we look so long at the closed door that we do not see the one that has been opened for us. 
    h2 Article 1
    h4 Who May Use the Services
    p When one door of happiness closes, another opens, but often we look so long at the closed door that we do not see the one that has been opened for us. 
    ul 
      li 
        b Step 1:  
        | You may use the Services only if you agree to form a binding contract with us and are not a person barred from receiving services under the laws of the applicable jurisdiction
      li
        b Step 2:  
        | Our Privacy Policy describes how we handle the information you provide to us when you use our Services. 
    h4 Privacy
    p When one door of happiness closes, another opens, but often we look so long at the closed door that we do not see the one that has been opened for us. 
    .modal__btn-fixed-w
      a(href="").modal__btn-fixed!="CONTINUE & AGREE"
        
        
    
