.info-list.hidden-md
  .info-list__block
    .col-1-3
      .info-list__item
        .info-list__item-title Escort
        .info-list__item-text Home Escort
      .info-list__item
        .info-list__item-title ID
        .info-list__item-text 1322
    .col-1-3
      .info-list__item
        .info-list__item-title Name
        .info-list__item-text Erica
    .col-1-3
      .info-list__item
        .info-list__item-title Account
        .info-list__item-text VIP (12 days)
  .info-list__block
    .col-1-3
      .info-list__item
        .info-list__item-title Escort
        .info-list__item-text Home Escort
      .info-list__item
        .info-list__item-title ID
        .info-list__item-text 1322
    .col-1-3
      .info-list__item
        .info-list__item-title Name
        .info-list__item-text Erica
      .info-list__item
        .info-list__item-title Accounts
        .info-list__item-text 22
    .col-1-3
      .center-content
        .info-list__btn-group
          .info-list__btn-item
            a(href="").btn.btn__violet All Payments
  .info-list__block
    .col-1-3
      .info-list__item
        .info-list__item-title Escort
        .info-list__item-text Home Escort
      .info-list__item
        .info-list__item-title ID
        .info-list__item-text 1322
    .col-1-3
      .info-list__item
        .info-list__item-title Name
        .info-list__item-text Erica
    .col-1-3
      .info-list__item
        .info-list__item-title Account
        .info-list__item-text VIP (12 days)
h3.category-title.hidden.show-md.mb-30 ALL ORDERS
.hidden.show-md
  .table-responsive
    table.info-table
      thead
        tr
          th ID
          th PHOTO
          th NICKNAME
          th ESCORT
          th ACCAUNT
          th ACCAUNTS
          th(width="150")
          th(width="150")
          th(width="50")
          th(width="50")
      tbody
        tr 
          td 420607
          td
            .info-table__avatar(style="background-image:url(img/pic-1.png)")
          td Jes
          td Independent
          td 
            b.text-violet VIP (15 days)
          td 
          td 
            .btn.btn__green.info-table__btn PAID
          td 
            .btn.btn__violet.info-table__btn EDIT
          td 
            a(href="").btn-circle.btn-circle__violet
              svg.icon.icon--check
                use(xlink:href="img/sprite.svg#check")
          td
            a(href="").btn-r-circle.btn-r-circle__red
              svg.icon.icon--close
                use(xlink:href="img/sprite.svg#close")
        tr 
          td 420607
          td
            .info-table__avatar(style="background-image:url(img/pic-1.png)")
          td Home escort
          td Agency
          td 
            b.text-violet VIP (15 days)
          td 23
          td 
            .btn.btn__red.info-table__btn NOT PAID
          td 
            .btn.btn__violet.info-table__btn EDIT
          td 
            a(href="").btn-circle.btn-circle__violet
              svg.icon.icon--check
                use(xlink:href="img/sprite.svg#check")
          td
            a(href="").btn-r-circle.btn-r-circle__red
              svg.icon.icon--close
                use(xlink:href="img/sprite.svg#close")
        tr 
          td 420607
          td
            .info-table__avatar(style="background-image:url(img/pic-1.png)")
          td Jes
          td Independent
          td 
            b.text-violet VIP (15 days)
          td 
          td 
            .btn.btn__green.info-table__btn PAID
          td 
            .btn.btn__violet.info-table__btn EDIT
          td 
            a(href="").btn-circle.btn-circle__violet
              svg.icon.icon--check
                use(xlink:href="img/sprite.svg#check")
          td
            a(href="").btn-r-circle.btn-r-circle__red
              svg.icon.icon--close
                use(xlink:href="img/sprite.svg#close")
        tr 
          td 420607
          td
            .info-table__avatar(style="background-image:url(img/pic-1.png)")
          td Home escort
          td Agency
          td 
            b.text-violet VIP (15 days)
          td 23
          td 
            .btn.btn__red.info-table__btn NOT PAID
          td 
            .btn.btn__violet.info-table__btn EDIT
          td 
            a(href="").btn-circle.btn-circle__violet
              svg.icon.icon--check
                use(xlink:href="img/sprite.svg#check")
          td
            a(href="").btn-r-circle.btn-r-circle__red
              svg.icon.icon--close
                use(xlink:href="img/sprite.svg#close")  
h3.category-title.hidden.show-md.mb-30 GIRLS HOME ESCORT 
.hidden.show-md
  .table-responsive
    table.info-table
      thead
        tr
          th ID
          th PHOTO
          th NICKNAME
          th ESCORT
          th ACCAUNT
          th ACCAUNTS
          th(width="150")
          th(width="150")
          th(width="50")
      tbody
        tr 
          td 420607
          td
            .info-table__avatar(style="background-image:url(img/pic-1.png)")
          td Jes
          td Independent
          td 
            b.text-violet VIP (15 days)
          td 
          td 
            .btn.btn__violet.info-table__btn PAYMENTS
          td 
            .btn.btn__violet.info-table__btn EDIT
          td 
            a(href="").btn-circle.btn-circle__violet
              svg.icon.icon--delete
                use(xlink:href="img/sprite.svg#delete")
        tr 
          td 420607
          td
            .info-table__avatar(style="background-image:url(img/pic-1.png)")
          td Home escort
          td Agency
          td 
            b.text-violet VIP (15 days)
          td 23
          td 
            .btn.btn__violet.info-table__btn PAYMENTS
          td 
            .btn.btn__violet.info-table__btn EDIT
          td 
            a(href="").btn-circle.btn-circle__violet
              svg.icon.icon--delete
                use(xlink:href="img/sprite.svg#delete")
        tr 
          td 420607
          td
            .info-table__avatar(style="background-image:url(img/pic-1.png)")
          td Jes
          td Independent
          td 
            b.text-violet VIP (15 days)
          td 
          td 
            .btn.btn__violet.info-table__btn PAYMENTS
          td 
            .btn.btn__violet.info-table__btn EDIT
          td 
            a(href="").btn-circle.btn-circle__violet
              svg.icon.icon--delete
                use(xlink:href="img/sprite.svg#delete")
        tr 
          td 420607
          td
            .info-table__avatar(style="background-image:url(img/pic-1.png)")
          td Home escort
          td Agency
          td 
            b.text-violet VIP (15 days)
          td 23
          td 
            .btn.btn__violet.info-table__btn PAYMENTS
          td 
            .btn.btn__violet.info-table__btn EDIT
          td 
            a(href="").btn-circle.btn-circle__violet
              svg.icon.icon--delete
                use(xlink:href="img/sprite.svg#delete")
