.form-cont__submit-wrap
  a(href="").btn.btn__large.form-cont__submit.mb-30.mt-30 Add New Girl
.manage-girls.flex-wrap.flex-p-wrap
  .col-1-2.col-sm-1-3.col-lg-1-4.col-xl-1-5
    .manage-girls__item
      .manage-girls__settings
        .manage-girls__settings-item 
          a(href="").manage-girls__settings-link
            svg.icon.icon--delete
              use(xlink:href="img/sprite.svg#delete")
        .manage-girls__settings-item 
          a(href="").manage-girls__settings-link
            svg.icon.icon--pencil
              use(xlink:href="img/sprite.svg#pencil")
        .manage-girls__settings-item 
          a(href="").manage-girls__settings-link
            svg.icon.icon--camera
              use(xlink:href="img/sprite.svg#camera")
      a(href="")
        .manage-girls__item-img-bg(style="background-image:url('img/pic-2.png')")
        //img(src="img/pic-2.png" alt="").manage-girls__img
        .manage-girls__info
          .manage-girls__name Jesica, 27
          .manage-girls__city London  
  .col-1-2.col-sm-1-3.col-lg-1-4.col-xl-1-5
    .manage-girls__item
      .manage-girls__settings
        .manage-girls__settings-item 
          a(href="").manage-girls__settings-link
            svg.icon.icon--delete
              use(xlink:href="img/sprite.svg#delete")
        .manage-girls__settings-item 
          a(href="").manage-girls__settings-link
            svg.icon.icon--pencil
              use(xlink:href="img/sprite.svg#pencil")
        .manage-girls__settings-item 
          a(href="").manage-girls__settings-link
            svg.icon.icon--camera
              use(xlink:href="img/sprite.svg#camera")
      a(href="")
        .manage-girls__item-img-bg(style="background-image:url('img/pic-3.png')")
        //img(src="img/pic-3.png" alt="").manage-girls__img
        .manage-girls__info
          .manage-girls__name Jesica, 27
          .manage-girls__city London
  .col-1-2.col-sm-1-3.col-lg-1-4.col-xl-1-5
    .manage-girls__item
      .manage-girls__settings
        .manage-girls__settings-item 
          a(href="").manage-girls__settings-link
            svg.icon.icon--delete
              use(xlink:href="img/sprite.svg#delete")
        .manage-girls__settings-item 
          a(href="").manage-girls__settings-link
            svg.icon.icon--pencil
              use(xlink:href="img/sprite.svg#pencil")
        .manage-girls__settings-item 
          a(href="").manage-girls__settings-link
            svg.icon.icon--camera
              use(xlink:href="img/sprite.svg#camera")
      a(href="")
        .manage-girls__item-img-bg(style="background-image:url('img/pic-4.png')")
        //img(src="img/pic-4.png" alt="").manage-girls__img
        .manage-girls__info
          .manage-girls__name Jesica, 27
          .manage-girls__city London
  .col-1-2.col-sm-1-3.col-lg-1-4.col-xl-1-5
    .manage-girls__item
      .manage-girls__settings
        .manage-girls__settings-item 
          a(href="").manage-girls__settings-link
            svg.icon.icon--delete
              use(xlink:href="img/sprite.svg#delete")
        .manage-girls__settings-item 
          a(href="").manage-girls__settings-link
            svg.icon.icon--pencil
              use(xlink:href="img/sprite.svg#pencil")
        .manage-girls__settings-item 
          a(href="").manage-girls__settings-link
            svg.icon.icon--camera
              use(xlink:href="img/sprite.svg#camera")
      a(href="")
        .manage-girls__item-img-bg(style="background-image:url('img/pic-5.png')")
        //img(src="img/pic-5.png" alt="").manage-girls__img
        .manage-girls__info
          .manage-girls__name Jesica, 27
          .manage-girls__city London
    
