#menu.menu
  .menu__inner
    .menu-list
      .menu-list__item
        a(href="styles.html").menu-list__inner
          .menu-list__important !
          .menu-list__icon
            svg.icon.icon--profile
              use(xlink:href="img/sprite.svg#profile")
          .menu-list__title profile
      .menu-list__item
        a(href="photo-video.html").menu-list__inner
          .menu-list__icon
            svg.icon.icon--picture
              use(xlink:href="img/sprite.svg#picture")
          .menu-list__title Photos/Video
      .menu-list__item
        a(href="tour.html").menu-list__inner
          .menu-list__icon
            svg.icon.icon--airplane
              use(xlink:href="img/sprite.svg#airplane")
          .menu-list__title My Tours
      .menu-list__item
        a(href="settings.html").menu-list__inner
          .menu-list__icon
            svg.icon.icon--controls
              use(xlink:href="img/sprite.svg#controls")
          .menu-list__title Settings
      .menu-list__item
        a(href="validation.html").menu-list__inner.menu-list__inner--active
          .menu-list__important !
          .menu-list__icon
            svg.icon.icon--verify
              use(xlink:href="img/sprite.svg#verify")
          .menu-list__title Validation
      .menu-list__item
        a(href="my-orders.html").menu-list__inner
          .menu-list__icon
            svg.icon.icon--credit-card
              use(xlink:href="img/sprite.svg#credit-card")
          .menu-list__title My Orders
      .menu-list__item
        a(href="manage-girls.html").menu-list__inner
          .menu-list__important !
          .menu-list__icon
            svg.icon.icon--manage
              use(xlink:href="img/sprite.svg#manage")
          .menu-list__title Manage Girls
