#agreement.modal
  a(href="").modal__close
    span 
  +agreement
  
#datepicker-modal.modal.modal__datepicker
  a(href="").modal__close
    span 
  include calendar-inner
  
#orders.modal.modal__orders
  a(href="").modal__close
    span 
  include home-escort-inner
    
#alert-success.alert Your account has been successfully verified!
  span.alert__icon-important !
