.hidden-md
  .info-list
    .info-list__block
      .col-1-2 
        .info-list__item
          .info-list__item-title Email
          .info-list__item-text mail@gmail.com
        .info-list__item
          .info-list__item-title Login
          .info-list__item-text asjdop232
      .col-1-2 
        .info-list__item
          .info-list__item-title Password
          .info-list__item-text ************
        .info-list__item
          a(href="").btn.btn__violet Manage
    .info-list__block
      .col-1-2 
        .info-list__item
          .info-list__item-title Email
          .info-list__item-text mail@gmail.com
        .info-list__item
          .info-list__item-title Login
          .info-list__item-text asjdop232
      .col-1-2 
        .info-list__item
          .info-list__item-title Password
          .info-list__item-text ************
        .info-list__item
          a(href="").btn.btn__violet Manage
.hidden.show-md
  h3.category-title.hidden.show-md.mb-30 MODEARATORS
    .table-responsive
      table.info-table
        thead
          tr
            th ID
            th PHOTO
            th E-MAIL
            th LOGIN
            th PASSWORD
            th(width="150")
            th(width="150")
            th(width="50")
        tbody
          tr
            td 420607
            td
              .info-table__avatar(style="background-image:url(img/pic-1.png)")
            td mail@gmail.com
            td asdfr223
            td **********
            td
              a(href="").btn.btn__violet.info-table__btn MANAGE
            td
              a(href="").btn.btn__violet.info-table__btn EDIT
            td
              a(href="").btn-circle.btn-circle__violet
                svg.icon.icon--delete
                  use(xlink:href="img/sprite.svg#delete")
          tr
            td 420607
            td
              .info-table__avatar(style="background-image:url(img/pic-1.png)")
            td mail@gmail.com
            td asdfr223
            td **********
            td
              a(href="").btn.btn__violet.info-table__btn MANAGE
            td
              a(href="").btn.btn__violet.info-table__btn EDIT
            td
              a(href="").btn-circle.btn-circle__violet
                svg.icon.icon--delete
                  use(xlink:href="img/sprite.svg#delete")
