.main-container
  .info-list 
    .info-list__block.info-list__block--order
      .col-1-2
        .info-list__item
          .info-list__item-sub-title.mb-15 Status
          .info-list__item-title Escort
      .col-1-2
        .info-list__item.text-right
          .info-list__item-sub-title.mb-15 Remaining time
          .info-list__item-title 10 days
  .btn__group-full.mt-30
    a(href="").btn.btn__large + Add Packege
    
