.main-container
  .form-cont
    form(action="")
      h3.form-cont__h3 Advertising Options
      .form-row 
        label.form-row__label(for="user-country") Target Country
        label.form-row__select-arrow(for="user-country")
          svg.icon.icon--arrow-down
            use(xlink:href="img/sprite.svg#arrow-down")
        select.form-row__select(id="user-country")
          option='UAE / Dubai'
          option UAE / Dubai 2
          option UAE / Dubai 3
        span.form-row__line
      h3.text-center.mt-15 Package Duration
      .btn-group
        .col-1-2.btn-group__item
          a(href="").btn.btn__large.btn__full 15 Days
        .col-1-2.btn-group__item
          a(href="").btn.btn__large.btn__full.btn__violet 30 Days
      .order-list
        .order-list__item 
          .order-list__header 
            b 3 Girls VIP Profile
          .order-list__body
            .text-center
              .order-list__text
                p 
                  b 20x More Visitors*
                p Guaranteed First Page Appearance**
                p Country & City Selection
                p Full Access to All Features
                p  Free Website Link on Your Profile
              .order-list__price 
                b 600
                | eur / 30 days
            .btn__group-full.mt-15
              a(href="").btn.btn__large.btn__violet Choose
        .order-list__item 
          .order-list__header 
            b 6 Girls VIP Profile
          .order-list__body
            .text-center
              .order-list__text
                p 
                  b 20x More Visitors*
                p Guaranteed First Page Appearance**
                p Country & City Selection
                p Full Access to All Features
                p  Free Website Link on Your Profile
              .order-list__price 
                b 1 200eur / 30 days
            .btn__group-full.mt-15
              a(href="").btn.btn__large.btn__violet Choose
        .order-list__item 
          .order-list__header 
            b 12 Girls VIP Profile
          .order-list__body
            .text-center
              .order-list__text
                p 
                  b 20x More Visitors*
                p Guaranteed First Page Appearance**
                p Country & City Selection
                p Full Access to All Features
                p  Free Website Link on Your Profile
              .order-list__price 
                b 2 400eur / 30 days
            .btn__group-full.mt-15
              a(href="").btn.btn__large.btn__violet Choose
        .order-list__item 
          .order-list__header.order-list__header--active 
            b Banner 
            | Place
          .order-list__body
            .text-center
              .order-list__text
                p 
                  b 50x More Visitors*
                p 
                  b Guaranteed First Page Appearance**
                p 
                  b Country & City Selection
                p 
                 b Full Access to All Features
                p  
                  b Free Website Link on Your Profile
              .order-list__price 
                b 1000
                | eur / 30 days
            .btn__group-full.mt-15
              a(href="").btn.btn__large.btn__violet Choose
        .order-list__item 
          .order-list__header.order-list__header--active 
            b Free
            | Place
          .order-list__body
            .text-center
              .order-list__text
                p 
                  b Listing after VIP profiles
                p 
                  b Random listing
                p 
                  b Free photo and video upload
                p 
                 b Free Tour Settings
                p 
                  b Link exchange
            .btn__group-full.mt-15
              a(href="").btn.btn__large.btn__violet Active
      .text-ps 
        | * Depends on the quality of your profile 
        br
        | ** Random amongst other VIP ads 
        br
        | *** Depends on the quality of your banner
      .text-info.text-center
        | You have no orders yet.
        br
        | Please Choose one from
        br 
        | our 
        a(href="") packages
      br
