.main-container 
  .person-list__filter-btn.toggle
    a(href="#").btn.btn__icon.btn__large Filter
      svg.icon.icon--filter
        use(xlink:href="img/sprite.svg#filter")
  .filters
    h3.filters__h3 Filter
    .form-row 
      label.form-row__label Age
      .range-slider 
        .range-slider__inner(style="left:20%; width:30%;")
        .range-slider__handle(style="left:20%")
          span 26 
        .range-slider__handle(style="left:50%")
          span 50
    .filters-row.flex-wrap 
      .filters__btn-label Ethnicity:
      .col 
        a(href="").btn All
        a(href="").btn Asian
        a(href="").btn.btn--active Black
        a(href="").btn Caucasian
        a(href="").btn Mixed
        a(href="").btn Arabian
    .filters-row.flex-wrap 
      .filters__btn-label Hair color:
      .col 
        a(href="").btn All
        a(href="").btn Blond
        a(href="").btn.btn--active Light brown
        a(href="").btn Black
        a(href="").btn Red
    .filters-row.flex-wrap 
      .filters__btn-label Hair Length:
      .col 
        a(href="").btn All
        a(href="").btn Very Short
        a(href="").btn.btn--active Short
        a(href="").btn Medium
        a(href="").btn Long
        a(href="").btn Very Long
    .filters-row.flex-wrap 
      .filters__btn-label Eye color:
      .col 
        a(href="").btn All
        a(href="").btn Black
        a(href="").btn.btn--active Brown
        a(href="").btn Green
        a(href="").btn Blue
        a(href="").btn Gray
    .form-row 
      label.form-row__label Height:
      .range-slider 
        .range-slider__inner(style="left:20%; width:30%;")
        .range-slider__handle(style="left:20%")
          span 26 
        .range-slider__handle(style="left:50%")
          span 50
    .filters-row.flex-wrap 
      .filters__btn-label Dress size:
      .col 
        a(href="").btn All
        a(href="").btn XS
        a(href="").btn.btn--active S
        a(href="").btn M
        a(href="").btn L
        a(href="").btn XL
        a(href="").btn XXL
    .filters-row.flex-wrap 
      .filters__btn-label Available for:
      .col 
        .checkbox
          label.checkbox__label
            input(type="checkbox").checkbox__input
            span.checkbox__styler
            span.checkbox__text Incall
        .checkbox
          label.checkbox__label
            input(type="checkbox").checkbox__input
            span.checkbox__styler
            span.checkbox__text Outcall
        
  .person-list
    .flex-wrap.flex-p-wrap
      .col-1-2.col-md-1-3.col-xl-1-4
        a(href="profile.html").person-list__item
          .person-list__item-img-bg(style="background-image:url(img/pic-2.png)")        
          //img(src="img/pic-2.png").person-list__item-img
          .person-list__status
            .person-list__status-item.person-list__status-item--vip Vip
            .person-list__status-item.person-list__status-item--video Video
          .person-list__pre-info 
            .person-list__name Jesica, 27
            .person-list__place London
          .person-list__info
            .person-list__name Jesica, 27
            .person-list__place London
            .person-list__text 
              p 
                | This is another naughty one. A-Level. 
                | A true lover of all things sexual she is 
                | enthusiastic and you won't be left 
                | wanting. Packing a sexy 160cm gym 
                | toned body and a gorgeous face, 
                | she is highly recommended. 
                | Mid 27's.
            .person-list__about
              .flex-wrap.flex-p-wrap
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Height
                  br
                  b 160cm / 5'2”
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Age
                  br
                  b 27
                .col-1-2
                  | Eyes
                  br
                  b Brown
                .col-1-2
                  | Hair
                  br
                  b Blonde
                .col-1-2
                  | Languages
                  br
                  b English
      .col-1-2.col-md-1-3.col-xl-1-4
        a(href="profile.html").person-list__item    
          .person-list__item-img-bg(style="background-image:url(img/pic-3.png)")     
          //img(src="img/pic-3.png").person-list__item-img
          .person-list__status
            .person-list__status-item.person-list__status-item--vip Vip
            .person-list__status-item.person-list__status-item--video Video
          .person-list__pre-info 
            .person-list__name Jesica, 27
            .person-list__place London
          .person-list__info
            .person-list__name Jesica, 27
            .person-list__place London
            .person-list__text 
              p 
                | This is another naughty one. A-Level. 
                | A true lover of all things sexual she is 
                | enthusiastic and you won't be left 
                | wanting. Packing a sexy 160cm gym 
                | toned body and a gorgeous face, 
                | she is highly recommended. 
                | Mid 27's.
            .person-list__about
              .flex-wrap.flex-p-wrap
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Height
                  br
                  b 160cm / 5'2”
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Age
                  br
                  b 27
                .col-1-2
                  | Eyes
                  br
                  b Brown
                .col-1-2
                  | Hair
                  br
                  b Blonde
                .col-1-2
                  | Languages
                  br
                  b English
      .col-1-2.col-md-1-3.col-xl-1-4
        a(href="profile.html").person-list__item        
          .person-list__item-img-bg(style="background-image:url(img/pic-4.png)") 
          //img(src="img/pic-4.png").person-list__item-img
          .person-list__status
            .person-list__status-item.person-list__status-item--vip Vip
            .person-list__status-item.person-list__status-item--video Video
          .person-list__pre-info 
            .person-list__name Jesica, 27
            .person-list__place London
          .person-list__info
            .person-list__name Jesica, 27
            .person-list__place London
            .person-list__text 
              p 
                | This is another naughty one. A-Level. 
                | A true lover of all things sexual she is 
                | enthusiastic and you won't be left 
                | wanting. Packing a sexy 160cm gym 
                | toned body and a gorgeous face, 
                | she is highly recommended. 
                | Mid 27's.
            .person-list__about
              .flex-wrap.flex-p-wrap
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Height
                  br
                  b 160cm / 5'2”
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Age
                  br
                  b 27
                .col-1-2
                  | Eyes
                  br
                  b Brown
                .col-1-2
                  | Hair
                  br
                  b Blonde
                .col-1-2
                  | Languages
                  br
                  b English
      .col-1-2.col-md-1-3.col-xl-1-4
        a(href="profile.html").person-list__item  
          .person-list__item-img-bg(style="background-image:url(img/pic-5.png)")       
          //img(src="img/pic-5.png").person-list__item-img
          .person-list__status
            .person-list__status-item.person-list__status-item--vip Vip
            .person-list__status-item.person-list__status-item--video Video
          .person-list__pre-info 
            .person-list__name Jesica, 27
            .person-list__place London
          .person-list__info
            .person-list__name Jesica, 27
            .person-list__place London
            .person-list__text 
              p 
                | This is another naughty one. A-Level. 
                | A true lover of all things sexual she is 
                | enthusiastic and you won't be left 
                | wanting. Packing a sexy 160cm gym 
                | toned body and a gorgeous face, 
                | she is highly recommended. 
                | Mid 27's.
            .person-list__about
              .flex-wrap.flex-p-wrap
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Height
                  br
                  b 160cm / 5'2”
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Age
                  br
                  b 27
                .col-1-2
                  | Eyes
                  br
                  b Brown
                .col-1-2
                  | Hair
                  br
                  b Blonde
                .col-1-2
                  | Languages
                  br
                  b English
      .col-1-2.col-md-1-3.col-xl-1-4
        a(href="profile.html").person-list__item  
          .person-list__item-img-bg(style="background-image:url(img/pic-6.png)")       
          //img(src="img/pic-6.png").person-list__item-img
          .person-list__status
            .person-list__status-item.person-list__status-item--vip Vip
            .person-list__status-item.person-list__status-item--video Video
          .person-list__pre-info 
            .person-list__name Jesica, 27
            .person-list__place London
          .person-list__info
            .person-list__name Jesica, 27
            .person-list__place London
            .person-list__text 
              p 
                | This is another naughty one. A-Level. 
                | A true lover of all things sexual she is 
                | enthusiastic and you won't be left 
                | wanting. Packing a sexy 160cm gym 
                | toned body and a gorgeous face, 
                | she is highly recommended. 
                | Mid 27's.
            .person-list__about
              .flex-wrap.flex-p-wrap
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Height
                  br
                  b 160cm / 5'2”
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Age
                  br
                  b 27
                .col-1-2
                  | Eyes
                  br
                  b Brown
                .col-1-2
                  | Hair
                  br
                  b Blonde
                .col-1-2
                  | Languages
                  br
                  b English
      .col-1-2.col-md-1-3.col-xl-1-4
        a(href="profile.html").person-list__item 
          .person-list__item-img-bg(style="background-image:url(img/pic-7.png)")        
          //img(src="img/pic-7.png").person-list__item-img
          .person-list__status
            .person-list__status-item.person-list__status-item--vip Vip
            .person-list__status-item.person-list__status-item--video Video
          .person-list__pre-info 
            .person-list__name Jesica, 27
            .person-list__place London
          .person-list__info
            .person-list__name Jesica, 27
            .person-list__place London
            .person-list__text 
              p 
                | This is another naughty one. A-Level. 
                | A true lover of all things sexual she is 
                | enthusiastic and you won't be left 
                | wanting. Packing a sexy 160cm gym 
                | toned body and a gorgeous face, 
                | she is highly recommended. 
                | Mid 27's.
            .person-list__about
              .flex-wrap.flex-p-wrap
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Height
                  br
                  b 160cm / 5'2”
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Age
                  br
                  b 27
                .col-1-2
                  | Eyes
                  br
                  b Brown
                .col-1-2
                  | Hair
                  br
                  b Blonde
                .col-1-2
                  | Languages
                  br
                  b English
      .col-1-2.col-md-1-3.col-xl-1-4
        a(href="profile.html").person-list__item 
          .person-list__item-img-bg(style="background-image:url(img/pic-6.png)")        
          //img(src="img/pic-6.png").person-list__item-img
          .person-list__status
            .person-list__status-item.person-list__status-item--vip Vip
            .person-list__status-item.person-list__status-item--video Video
          .person-list__pre-info 
            .person-list__name Jesica, 27
            .person-list__place London
          .person-list__info
            .person-list__name Jesica, 27
            .person-list__place London
            .person-list__text 
              p 
                | This is another naughty one. A-Level. 
                | A true lover of all things sexual she is 
                | enthusiastic and you won't be left 
                | wanting. Packing a sexy 160cm gym 
                | toned body and a gorgeous face, 
                | she is highly recommended. 
                | Mid 27's.
            .person-list__about
              .flex-wrap.flex-p-wrap
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Height
                  br
                  b 160cm / 5'2”
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Age
                  br
                  b 27
                .col-1-2
                  | Eyes
                  br
                  b Brown
                .col-1-2
                  | Hair
                  br
                  b Blonde
                .col-1-2
                  | Languages
                  br
                  b English
      .col-1-2.col-md-1-3.col-xl-1-4
        a(href="profile.html").person-list__item
          .person-list__item-img-bg(style="background-image:url(img/pic-7.png)")         
          //img(src="img/pic-7.png").person-list__item-img
          .person-list__status
            .person-list__status-item.person-list__status-item--vip Vip
            .person-list__status-item.person-list__status-item--video Video
          .person-list__pre-info 
            .person-list__name Jesica, 27
            .person-list__place London
          .person-list__info
            .person-list__name Jesica, 27
            .person-list__place London
            .person-list__text 
              p 
                | This is another naughty one. A-Level. 
                | A true lover of all things sexual she is 
                | enthusiastic and you won't be left 
                | wanting. Packing a sexy 160cm gym 
                | toned body and a gorgeous face, 
                | she is highly recommended. 
                | Mid 27's.
            .person-list__about
              .flex-wrap.flex-p-wrap
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Height
                  br
                  b 160cm / 5'2”
                .col-1-2
                  | Base City
                  br
                  b England, London 
                .col-1-2
                  | Age
                  br
                  b 27
                .col-1-2
                  | Eyes
                  br
                  b Brown
                .col-1-2
                  | Hair
                  br
                  b Blonde
                .col-1-2
                  | Languages
                  br
                  b English
  .person-list__show-more
    a(href="").btn.btn__large Show all
#filters.modal
  a(href="").modal__close
    span 
  .modal__body
    .form-row 
      label.form-row__label Age
      .range-slider 
        .range-slider__inner(style="left:20%; width:30%;")
        .range-slider__handle(style="left:20%")
          span 26 
        .range-slider__handle(style="left:50%")
          span 50
    .form-row 
      label.form-row__label(for="ethnicity") Ethnicity
      label.form-row__select-arrow(for="ethnicity")
        svg.icon.icon--arrow-down
          use(xlink:href="img/sprite.svg#arrow-down")
      select.form-row__select(id="ethnicity")
        option Asian
        option Asian 2
        option Asian 3
      span.form-row__line
    .form-row 
      label.form-row__label(for="available-for") Available for
      label.form-row__select-arrow(for="available-for")
        svg.icon.icon--arrow-down
          use(xlink:href="img/sprite.svg#arrow-down")
      select.form-row__select(id="available-for")
        option Incall
        option Incall 2
        option Incall 3
      span.form-row__line
    .form-row 
      label.form-row__label(for="user-height") Height
      label.form-row__select-arrow(for="user-height")
        svg.icon.icon--arrow-down
          use(xlink:href="img/sprite.svg#arrow-down")
      select.form-row__select(id="user-height")
        option 160-165
        option 160-165
        option 160-165
      span.form-row__line
    .flex-wrap.flex-p-wrap 
      .col-1-2
        .switch
          label.switch__label(for="switch-system-message") Viber
          .switch__cont
            input(type="checkbox" id="switch-system-message").switch__checkbox
            .switch__circle
      .col-1-2
        .switch
          label.switch__label(for="switch-system-message2") Whatsapp
          .switch__cont
            input(type="checkbox" id="switch-system-message2").switch__checkbox
            .switch__circle
    //.form-row.mt-15
      label.form-row__label Price
      .range-slider 
        .range-slider__inner(style="left:20%; width:30%;")
        .range-slider__handle(style="left:20%")
          span $300
        .range-slider__handle(style="left:50%")
          span $500
    //.form-row
      label.form-row__label Services
      .services
        .services__item 69
        .services__item massage
        .services__add 
          svg.icon.icon--pluse
            use(xlink:href="img/sprite.svg#pluse")
    .form-row.mt-60 
      a(href="").submit-full SEARCH
