.main-container
  .media 
    .flex-wrap.flex-p-wrap
      .col-1.col-md-1-2
        .media__edit
          h3.text-center.mt-0.mb-15 Cover Photo Edit
          a(href="").btn.btn__large.btn__icon.btn__full.media__edit-btn
            span.media__edit-btn--mob
              svg.icon.icon--upload
                use(xlink:href="img/sprite.svg#upload")
              | UPLOAD
            span.media__edit-btn--md  Cover Photo Upload
          .btn__hint Minimum resolution for cover image: 987x380px
      .col-1.col-md-1-2
        .media__edit
          h3.text-center.mt-15.mb-15 Edit Your Gallery
          a(href="").btn.btn__large.btn__icon.btn__full.media__edit-btn
            span.media__edit-btn--mob
              svg.icon.icon--upload
                use(xlink:href="img/sprite.svg#upload")
              | UPLOAD
            span.media__edit-btn--md  Cover Photo Gallery
          .btn__hint Minimum resolution for cover image: 987x380px
    h3.category-title.hidden.show-md Uploaded photos
    .flex-wrap.flex-p-wrap.media-list
      .col-1-2.col-md-1-3.col-lg-1-4.col-xl-1-5
        .media-list__item.media-list__item--active(onclick="toogleClass(this, 'media-list__item--active')")
          .media-list__img-bg(style="background-image:url(img/pic-2.png)")
          //img(src="img/pic-2.png").media-list__img    
          a(href="").btn.btn__violet Make Primary
          .media-list__icon.media-list__icon--delete
            svg.icon.icon--delete
              use(xlink:href="img/sprite.svg#delete")
          .media-list__icon.media-list__icon--check
            svg.icon.icon--ckeck
              use(xlink:href="img/sprite.svg#check")
      .col-1-2.col-md-1-3.col-lg-1-4.col-xl-1-5
        .media-list__item(onclick="toogleClass(this, 'media-list__item--active')")
          .media-list__img-bg(style="background-image:url(img/pic-3.png)")
          //img(src="img/pic-3.png").media-list__img
          a(href="").btn-r.btn-r__white Make Primary
          .media-list__icon.media-list__icon--delete
            svg.icon.icon--delete
              use(xlink:href="img/sprite.svg#delete")
          .media-list__icon.media-list__icon--check
            svg.icon.icon--ckeck
              use(xlink:href="img/sprite.svg#check")
      .col-1-2.col-md-1-3.col-lg-1-4.col-xl-1-5
        .media-list__item(onclick="toogleClass(this, 'media-list__item--active')")
          .media-list__img-bg(style="background-image:url(img/pic-4.png)")
          //img(src="img/pic-4.png").media-list__img
          a(href="").btn-r.btn-r__white Make Primary
          .media-list__icon.media-list__icon--delete
            svg.icon.icon--delete
              use(xlink:href="img/sprite.svg#delete")
          .media-list__icon.media-list__icon--check
            svg.icon.icon--ckeck
              use(xlink:href="img/sprite.svg#check")
      .col-1-2.col-md-1-3.col-lg-1-4.col-xl-1-5
        .media-list__item(onclick="toogleClass(this, 'media-list__item--active')")
          .media-list__img-bg(style="background-image:url(img/pic-5.png)")
          //img(src="img/pic-5.png").media-list__img
          a(href="").btn-r.btn-r__white Make Primary
          .media-list__icon.media-list__icon--delete
            svg.icon.icon--delete
              use(xlink:href="img/sprite.svg#delete")
          .media-list__icon.media-list__icon--check
            svg.icon.icon--ckeck
              use(xlink:href="img/sprite.svg#check")
      .col-1-2.col-md-1-3.col-lg-1-4.col-xl-1-5
        .media-list__item(onclick="toogleClass(this, 'media-list__item--active')")
          .media-list__img-bg(style="background-image:url(img/pic-6.png)")
          //img(src="img/pic-6.png").media-list__img
          a(href="").btn-r.btn-r__white Make Primary
          .media-list__icon.media-list__icon--delete
            svg.icon.icon--delete
              use(xlink:href="img/sprite.svg#delete")
          .media-list__icon.media-list__icon--check
            svg.icon.icon--ckeck
              use(xlink:href="img/sprite.svg#check")
      .col-1-2.col-md-1-3.col-lg-1-4.col-xl-1-5
        .media-list__item(onclick="toogleClass(this, 'media-list__item--active')")
          .media-list__img-bg(style="background-image:url(img/pic-7.png)")
          //img(src="img/pic-7.png").media-list__img
          a(href="").btn-r.btn-r__white Make Primary
          .media-list__icon.media-list__icon--delete
            svg.icon.icon--delete
              use(xlink:href="img/sprite.svg#delete")
          .media-list__icon.media-list__icon--check
            svg.icon.icon--ckeck
              use(xlink:href="img/sprite.svg#check")
    .flex-wrap.flex-p-wrap
      .col-1.col-md-1-2
        .media__edit
          h3.text-center.mt-15.mb-15 Delete: 5
          .media__edit-btn-wrap
            a(href="").btn.btn__large.btn__icon.btn__full.media__edit-btn
              span.media__edit-btn--mob
                svg.icon.icon--delete
                  use(xlink:href="img/sprite.svg#delete")
                | DELETE
              span.media__edit-btn--md  DELETE
      .col-1.col-md-1-2
        .media__edit
          h3.text-center.mt-15.mb-15 Upload Video
          .media__edit-btn-wrap
            a(href="").btn.btn__large.btn__icon.btn__full.media__edit-btn
              span.media__edit-btn--mob
                svg.icon.icon--upload
                  use(xlink:href="img/sprite.svg#upload")
                | Upload video
              span.media__edit-btn--md  Cover Photo Gallery
          .btn__hint.text-left Maximum file size: 200 MB. Acceptable video formats: MP4, OGG, WEBM. If you upload a new video the old one will be deleted! Please upload 720p videos if you can!
