.main-container 
  .form-cont
    form(action="")
      .form-row 
        label.form-row__label(for="search-by-name") Name
        input(id="search-by-name" type="text" placeholder="Search" value="Jesica").form-row__input
        span.form-row__line
      .form-cont__submit-wrap
        button.btn.btn__large.form-cont__submit Search
