.main-container
  .category-title.hidden.show-md Settings
  .form-cont
    form(action="")
      .flex-wrap.flex-p-wrap
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            h3.form-cont__h3 Basic settings
            .form-row
              label.form-row__label(for="account-email") E-mail Address
              input(id="account-email" type="email" placeholder="mail@gmail.com" onclick="this.placeholder=''" onblur="this.placeholder='mail@gmail.com'").form-row__input
              span.form-row__line
            .form-row
              label.form-row__label(for="account-password") New Password
              input(id="account-password" type="password" placeholder="New Password" onclick="this.placeholder=''" onblur="this.placeholder='New Password'").form-row__input
              span.form-row__line
            .form-row 
              label.form-row__label(for="account-re-password") Re New Password
              input(id="account-re-password" type="password" placeholder="Re New Password" onclick="this.placeholder=''" onblur="this.placeholder='Re New Password'").form-row__input
              span.form-row__line
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            h3.form-cont__h3 About you
            .form-row 
              label.form-row__label Write your message
              textarea(placeholder="Write your message" onclick="this.placeholder=''" onblur="this.placeholder='Write your message'").form-row__textarea
              .form-row__info Not allowed: Phone Number, E-mail address, Website URL
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            .form-cont__email-notifications
              h3 Email Notifications
              .switch
                label.switch__label(for="switch-system-message") System Message
                .switch__cont
                  input(type="checkbox" id="switch-system-message").switch__checkbox
                  .switch__circle
        
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            .form-cont__submit-wrap
              h3 Save Settings
              button.btn.btn__large.form-cont__submit Save
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            .form-cont__submit-wrap
              h3 Profile Settings
              .flex-wrap.flex-p-wrap
                .col-1-2
                  .btn.btn__full-md-d.btn__large-md-d Suspend Profile
                .col-1-2        
                  .btn.btn__violet.btn__full-md-d.btn__large-md-d Suspend Profile
      br
      br
      
    
