.main-container
  h3 All  modals
  .flex-wrap.flex-p-wrap
    .col-1-2.col-md-1-3.col-lg-1-4
      a(href="#agreement").btn.btn__blue.modal-btn Are you sure?
      br
      br
    .col-1-2.col-md-1-3.col-lg-1-4
      a(href="#alert-success").btn.btn__large.bnt-show-alert Alert btn
      br
      br
    .col-1-2.col-md-1-3.col-lg-1-4
      a(href="#datepicker-modal").btn.btn__large.modal-btn Datepicker
      br
      br
    .col-1-2.col-md-1-3.col-lg-1-4
      a(href="#orders").btn.btn__large.modal-btn Orders
      br
      br
  .category-title.hidden.show-md Settings
  .form-cont
    form(action="")
      .flex-wrap.flex-p-wrap
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            h3.form-cont__h3 Basic settings
            .form-row.form-row__error
              label.form-row__label(for="account-email") E-mail Address
              input(id="account-email" type="email" placeholder="mail@gmail.com" value="mail@gmail.com").form-row__input
              span.form-row__line
            .form-row.form-row__success
              label.form-row__label(for="account-password") New Password
              input(id="account-password" type="password" placeholder="New Password").form-row__input
              span.form-row__line
            .form-row 
              label.form-row__label(for="account-re-password") Re New Password
              input(id="account-re-password" type="password" placeholder="Re New Password").form-row__input
              span.form-row__line
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            .form-cont__email-notifications
              h3 Email Notifications
              .switch
                label.switch__label(for="switch-system-message") System Message
                .switch__cont
                  input(type="checkbox" id="switch-system-message").switch__checkbox
                  .switch__circle
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            .form-cont__submit-wrap
              h3 Save Settings
              button.btn.btn__large.form-cont__submit Save
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            .form-cont__submit-wrap
              h3 Profile Settings
              .flex-wrap.flex-p-wrap
                .col-1-2
                  .btn.btn__full-md-d.btn__large-md-d Suspend Profile
                .col-1-2        
                  .btn.btn__violet.btn__full-md-d.btn__large-md-d Suspend Profile
      br
      br
  h3 Btn 
  .flex-wrap.flex-p-wrap
    .col-1-3
      .btn.btn__icon.btn__large.btn__file 
        svg.icon.icon--upload
          use(xlink:href="img/sprite.svg#upload")
        | File
        input(type="file")
  h3 All pages 
  table.info-table
    thead
      tr
        th Name Page 
        th Link Page
    tbody
      tr
        td Agreement
        td
          a(href="agreement.html" target="_blank") link to page
      tr
        td Calendar
        td
          a(href="calendar.html" target="_blank") link to page
      tr
        td Edit-account
        td
          a(href="edit-account.html" target="_blank") link to page
      tr
        td Home-escort
        td
          a(href="home-escort.html" target="_blank") link to page
      tr
        td Moderators
        td
          a(href="moderators.html" target="_blank") link to page
      tr
        td My-orders-list
        td
          a(href="my-orders-list.html" target="_blank") link to page
      tr
        td My-orders
        td
          a(href="my-orders.html" target="_blank") link to page
      tr
        td Payment-page
        td
          a(href="payment-page.html" target="_blank") link to page
      tr
        td Photo-video
        td
          a(href="photo-video.html" target="_blank") link to page
      tr
        td Search
        td
          a(href="Search.html" target="_blank") link to page
      tr
        td Settings
        td
          a(href="settings.html" target="_blank") link to page  
      tr
        td Styles
        td
          a(href="styles.html" target="_blank") link to page   
      tr
        td Text-page
        td
          a(href="text-page.html" target="_blank") link to page     
      tr
        td Tour-edit
        td
          a(href="tour-edit.html" target="_blank") link to page   
      tr
        td Tour
        td
          a(href="tour.html" target="_blank") link to page 
      tr
        td User-id
        td
          a(href="user-id.html" target="_blank") link to page   
      tr
        td Validation-list
        td
          a(href="validation-list.html" target="_blank") link to page  
      tr
        td Validation
        td
          a(href="validation.html" target="_blank") link to page 
