.main-container
  h3.text-center.text-uppercase.m-0.mb-15 PHOTO VERIFICATION
  .text-page.text-center
    p By using our totally free Photo Verification service, you can build trust in your visitors and have much more clients as well!
    p If you want to get the VERIFIED notation, please do some simple steps as written below.
    .text-num 1
    p Just make a full body (naked or in lingerie) verification photo from yourself, showing the “metal fork” sign with your hand and please take care, that we can identify you on your uploaded photos easily by using this verification photo.
    .flex-wrap.flex-p-wrap.max-width-600.m-auto 
      .col-1-2
        img(src="img/pic-2.png").img-cont.img-full
      .col-1-2
        img(src="img/pic-3.png").img-cont.img-full
    .text-num 2
    p Please upload your verification photo to show this sign with your fingers. If your uploaded picture does not meet our requirements it will be rejected.
    a(href="").btn.btn__large.btn__full-md-d.btn__icon.text-uppercase.mt-15.min-w-200
      svg.icon.icon--upload
        use(xlink:href="img/sprite.svg#upload")
      | UPLOAD
    .btn__hint.mb-15 Photos must be JPG with minimum 500px of height or width.
    p
      b Only that photos will be accepted which are meets the requirements above.
      br
      |We get back to you in 48 hours with the result of your photo verification.
