.main-container
  .form-cont
    form(action="")
      .flex-wrap.flex-p-wrap
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            h3.form-cont__h3 Add New Tour
            a(href="").btn.btn__large.btn__full.text-uppercase.mb-15 SET THE DATE
            .btn.btn__large.form-cont__date-info 13/02/2019 - 20/02/2019
            .form-row 
              label.form-row__label(for="tour-phone") Phone Number
              input(id="tour-phone" type="text" placeholder="+").form-row__input
              span.form-row__line
            .form-row 
              label.form-row__label(for="tour-destination") Destination
              label.form-row__select-arrow(for="tour-destination")
                svg.icon.icon--arrow-down
                  use(xlink:href="img/sprite.svg#arrow-down")
              select.form-row__select(id="tour-destination")
                option='Choose one'
                option Choose one 2
                option Choose one 3
              span.form-row__line
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            h3.text-center.m-0.mt-15.mb-15 Prices
            .flex-wrap.flex-p-wrap
              .col-1-2
                .form-row 
                  label.form-row__label(for="tour-1h-price") 1H Price
                  label.form-row__select-arrow(for="tour-1h-price")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="tour-1h-price")
                    option EUR
                    option EUR 2
                    option EUR 3
                  span.form-row__line
              .col-1-2
                .form-row 
                  label.form-row__label(for="tour-2h-price") 2H Price
                  label.form-row__select-arrow(for="tour-2h-price")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="tour-2h-price")
                    option EUR
                    option EUR 2
                    option EUR 3
                  span.form-row__line
              .col-1-2
                .form-row 
                  label.form-row__label(for="tour-3h-price") 3H Price
                  label.form-row__select-arrow(for="tour-3h-price")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="tour-3h-price")
                    option EUR
                    option EUR 2
                    option EUR 3
                  span.form-row__line
            .form-cont__submit-wrap
              button.btn.btn__large.btn__full.text-uppercase Save
        
        
