.main-container
  .profile
    .btn__group-full
      a(href="").btn.btn__large Add New Tour
    
    .profile__block
      .profile__header-date 13/02/2019 - 20/02/2019
      .profile__body
        .flex-wrap.flex-p-wrap
          .col-1-2.profile__item
            .profile__title STATUS
            a(href="").btn.btn__violet.text-uppercase ACTIVE
          .col-1-2.profile__item
            .profile__title PHONE NUMBER
            a(href="tel:+34963251234").profile__info-text +34963251234
        .flex-wrap.flex-p-wrap
          .col-1-3.profile__item
            .profile__title DESTINATION
            .profile__pic(style="background-image:url('img/ru.png')")
            .profile__pic-name Moscow
          .col-1-3.profile__item
            .profile__title PRICES
            ul
              li 1H: 600 EUR
              li 2H: 1200 EUR
              li 3H: 1800 EUR
          .col-1-3.profile__item
            .profile__title REMAINING
            .profile__info-text +7 days
        .profile__btn-group
          a(href="").btn.btn__violet.btn__large Edit
          a(href="").btn.btn__icon.btn__violet.btn__large 
            svg.icon.icon--delete.mr-0
              use(xlink:href="img/sprite.svg#delete")
    .profile__block
      .profile__header-date 13/02/2019 - 20/02/2019
      .profile__body
        .flex-wrap.flex-p-wrap
          .col-1-2.profile__item
            .profile__title STATUS
            a(href="").btn-r.btn-r__fix.text-uppercase CLOSED
          .col-1-2.profile__item
            .profile__title PHONE NUMBER
            a(href="tel:+34963251234").profile__info-text +34963251234
        .flex-wrap.flex-p-wrap
          .col-1-3.profile__item
            .profile__title DESTINATION
            .profile__pic(style="background-image:url('img/dubai.png')")
            .profile__pic-name Dubai
          .col-1-3.profile__item
            .profile__title PRICES
            ul
              li 1H: 600 EUR
              li 2H: 1200 EUR
              li 3H: 1800 EUR
          .col-1-3.profile__item
            .profile__title REMAINING
            .profile__info-text 0 days
        .profile__btn-group
          a(href="").btn.btn__violet.btn__large Edit
          a(href="").btn.btn__icon.btn__violet.btn__large 
            svg.icon.icon--delete.mr-0
              use(xlink:href="img/sprite.svg#delete")
        
