.main-container
  .form-cont
    form(action="")
      .flex-wrap.flex-p-wrap
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            .form-row 
              label.form-row__label(for="user-name") Your Nickname
              input(id="user-name" type="text" placeholder="Your Nickname" value="Jesica").form-row__input
              span.form-row__line
            .form-row 
              label.form-row__label(for="user-age") Age
              input(id="user-age" type="text" placeholder="Age" value="27").form-row__input
              span.form-row__line
            .form-row 
              label.form-row__label(for="user-nationality") Nationality
              label.form-row__select-arrow(for="user-nationality")
                svg.icon.icon--arrow-down
                  use(xlink:href="img/sprite.svg#arrow-down")
              select.form-row__select(id="user-nationality")
                option='Choose one'
                option Choose one 2
                option Choose one 3
              span.form-row__line
            .form-row 
              label.form-row__label(for="user-home-country") Home Country
              label.form-row__select-arrow(for="user-home-country")
                svg.icon.icon--arrow-down
                  use(xlink:href="img/sprite.svg#arrow-down")
              select.form-row__select(id="user-home-country")
                option='Choose one'
                option Choose one 2
                option Choose one 3
              span.form-row__line
            .form-row 
              label.form-row__label(for="user-home-city") Home City
              input(id="user-home-city" type="text" placeholder="Choose country first").form-row__input
              span.form-row__line
            .form-row 
              label.form-row__label(for="user-phone") Phone Number
              input(id="user-phone" type="text" placeholder="+").form-row__input
              span.form-row__line
            .flex-wrap.flex-p-wrap.mt-15.mb-5
              .col-1-3 
                .form-row
                  .checkbox
                    label.checkbox__label
                      input(type="checkbox" checked).checkbox__input
                      span.checkbox__styler
                      span.checkbox__text Whatsapp
                    
              .col-1-3 
                .form-row
                  .checkbox
                    label.checkbox__label
                      input(type="checkbox").checkbox__input
                      span.checkbox__styler
                      span.checkbox__text SMS
              .col-1-3 
                .form-row
                  .checkbox
                    label.checkbox__label
                      input(type="checkbox").checkbox__input
                      span.checkbox__styler
                      span.checkbox__text Calls
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            .flex-wrap.flex-p-wrap
              .col-1-2
                .form-row 
                  label.form-row__label(for="user-1h-price") 1H Price
                  label.form-row__select-arrow(for="user-1h-price")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="user-1h-price")
                    option EUR
                    option EUR 2
                    option EUR 3
                  span.form-row__line
              .col-1-2
                .form-row 
                  label.form-row__label(for="user-2h-price") 2H Price
                  label.form-row__select-arrow(for="user-2h-price")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="user-2h-price")
                    option EUR
                    option EUR 2
                    option EUR 3
                  span.form-row__line
              .col-1-2
                .form-row 
                  label.form-row__label(for="user-3h-price") 3H Price
                  label.form-row__select-arrow(for="user-3h-price")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="user-3h-price")
                    option EUR
                    option EUR 2
                    option EUR 3
                  span.form-row__line
              .col-1-2
                .form-row 
                  label.form-row__label(for="user-12h-price") 12H Price
                  label.form-row__select-arrow(for="user-12h-price")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="user-12h-price")
                    option EUR
                    option EUR 2
                    option EUR 3
                  span.form-row__line
              .col-1-2
                .form-row 
                  label.form-row__label(for="user-24h-price") 24H Price
                  label.form-row__select-arrow(for="user-24h-price")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="user-24h-price")
                    option EUR
                    option EUR 2
                    option EUR 3
                  span.form-row__line
            .flex-wrap.flex-p-wrap.mt-15
              .col-1-3.col-md-1
                h3.checkbox-title InCall
              .col-1-3.col-md-1-2
                .form-row
                  .checkbox
                    label.checkbox__label
                      input(type="checkbox").checkbox__input
                      span.checkbox__styler
                      span.checkbox__text Home
              .col-1-3.col-md-1-2
                .form-row
                  .checkbox
                    label.checkbox__label
                      input(type="checkbox").checkbox__input
                      span.checkbox__styler
                      span.checkbox__text Hotel Room
            .flex-wrap.flex-p-wrap
              .col-1-3.col-md-1 
                h3.checkbox-title OutCall
              .col-1-3.col-md-1-2
                .form-row
                  .checkbox
                    label.checkbox__label
                      input(type="checkbox").checkbox__input
                      span.checkbox__styler
                      span.checkbox__text Home
              .col-1-3.col-md-1-2
                .form-row
                  .checkbox
                    label.checkbox__label
                      input(type="checkbox").checkbox__input
                      span.checkbox__styler
                      span.checkbox__text Hotel Room
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            h3.text-center.m-0.mt-15.mb-15 Able To Travel
            .flex-wrap.flex-p-wrap
              .col-1-2
                .form-row
                  .checkbox
                    label.checkbox__label
                      input(type="checkbox" checked).checkbox__input
                      span.checkbox__styler
                      span.checkbox__text Europe
              .col-1-2
                .form-row
                  .checkbox
                    label.checkbox__label
                      input(type="checkbox").checkbox__input
                      span.checkbox__styler
                      span.checkbox__text USA
              .col-1-2
                .form-row
                  .checkbox
                    label.checkbox__label
                      input(type="checkbox").checkbox__input
                      span.checkbox__styler
                      span.checkbox__text Canada
              .col-1-2
                .form-row
                  .checkbox
                    label.checkbox__label
                      input(type="checkbox").checkbox__input
                      span.checkbox__styler
                      span.checkbox__text Latin America
              .col-1-2
                .form-row
                  .checkbox
                    label.checkbox__label
                      input(type="checkbox").checkbox__input
                      span.checkbox__styler
                      span.checkbox__text Asia
              .col-1-2
                .form-row
                  .checkbox
                    label.checkbox__label
                      input(type="checkbox").checkbox__input
                      span.checkbox__styler
                      span.checkbox__text Africa
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            .flex-wrap.flex-p-wrap.mt-15
              .col-1
                .form-row 
                  label.form-row__label(for="user-languag") Another Language
                  label.form-row__select-arrow(for="user-languag")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="user-languag")
                    option Choose
                    option Choose one 2
                    option Choose one 3
              .col-1-2
                .form-row 
                  label.form-row__label(for="user-height") Height
                  label.form-row__select-arrow(for="user-height")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="user-height")
                    option cm
                    option cm 2 
                    option cm 3
              .col-1-2
                .form-row 
                  label.form-row__label(for="user-weight") Weight
                  label.form-row__select-arrow(for="user-weight")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="user-weight")
                    option kg
                    option kg 2 
                    option kg 3
              .col-1-2
                .form-row 
                  label.form-row__label(for="user-bust") Bust
                  label.form-row__select-arrow(for="user-bust")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="user-bust")
                    option cm
                    option cm 2 
                    option cm 3
              .col-1-2
                .form-row 
                  label.form-row__label(for="user-waist") Waist
                  label.form-row__select-arrow(for="user-waist")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="user-waist")
                    option cm
                    option cm 2 
                    option cm 3
              .col-1-2
                .form-row 
                  label.form-row__label(for="user-hips") Hips
                  label.form-row__select-arrow(for="user-hips")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="user-hips")
                    option cm
                    option cm 2 
                    option cm 3
              .col-1-2
                .form-row 
                  label.form-row__label(for="user-hair") Hair
                  label.form-row__select-arrow(for="user-hair")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="user-hair")
                    option Choose
                    option Choose 2 
                    option Choose 3
              .col-1-2
                .form-row 
                  label.form-row__label(for="user-eyes") Eyes
                  label.form-row__select-arrow(for="user-eyes")
                    svg.icon.icon--arrow-down
                      use(xlink:href="img/sprite.svg#arrow-down")
                  select.form-row__select(id="user-eyes")
                    option Choose
                    option Choose 2 
                    option Choose 3
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            .flex-wrap.flex-p-wrap.mt-30.mb-30
              .col-1.mb-30
                a(href="").btn.btn__large.btn__full.text-uppercase VERIFY
              .col-1-2
                a(href="").btn.btn__large.btn__violet.btn__full.text-uppercase DELETE
              .col-1-2
                a(href="").btn.btn__large.btn__violet.btn__full.text-uppercase UNVERIFY
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            .form-cont__submit-wrap
              button.btn.btn__large.btn__full.text-uppercase Save
        .col-1.col-md-1-2.col-lg-1-3
          .form-block
            .form-cont__submit-wrap
              h3 Upload Photo
              button.btn.btn__large.btn__full.btn__icon.text-uppercase Upload Photo
                svg.icon.icon--arrow-l-right.ml-5
                  use(xlink:href="img/sprite.svg#arrow-l-right")
              .btn__hint Next step
      br
      br
          
