.main-container
  .info-list.hidden-md
    .info-list__block
      .col-1-3
        .info-list__item
          .info-list__item-title Escort
          .info-list__item-text Agency
        .info-list__item
          .info-list__item-title ID
          .info-list__item-text 22
      .col-1-3
        .info-list__item
          .info-list__item-title Name
          .info-list__item-text Home Escort
        .info-list__item
          .info-list__item-title Accounts
          .info-list__item-text 22
      .col-auto.ml-auto 
        .center-content
          .info-list__btn-group
            .info-list__btn-item
              a(href="").btn.btn__violet Payments 
            .info-list__btn-item
              a(href="").btn.btn__violet Girls
    .info-list__block
      .info-list__col
        .info-list__item
          .info-list__item-title Escort
          .info-list__item-text Independent
        .info-list__item
          .info-list__item-title ID
          .info-list__item-text 1322
      .info-list__col
        .info-list__item
          .info-list__item-title Account
          .info-list__item-text VIP (12 days)
        .info-list__item
          .info-list__item-title Name
          .info-list__item-text Erica
      .col-auto.ml-auto 
        .center-content
          .info-list__icon-group
            a(href="").info-list__icon-item.info-list__icon-item--green
              svg.icon.icon--camera
                use(xlink:href="img/sprite.svg#camera")
            .info-list__icon-item.info-list__icon-item--green(style="background-image:url(img/pic-1.png)")
          .info-list__btn-group
            .info-list__btn-item
              a(href="").btn.btn__green Accepted 
    .info-list__block
      .info-list__col
        .info-list__item
          .info-list__item-title Escort
          .info-list__item-text Independent
        .info-list__item
          .info-list__item-title ID
          .info-list__item-text 1322
      .info-list__col
        .info-list__item
          .info-list__item-title Account
          .info-list__item-text VIP (12 days)
        .info-list__item
          .info-list__item-title Name
          .info-list__item-text Erica
      .col-auto.ml-auto 
        .center-content
          .info-list__icon-group
            a(href="").info-list__icon-item.info-list__icon-item--red
              svg.icon.icon--camera
                use(xlink:href="img/sprite.svg#camera")
            a(href="").info-list__icon-item.info-list__icon-item--red
              svg.icon.icon--camera
                use(xlink:href="img/sprite.svg#camera")
          .info-list__btn-group
            .info-list__btn-item
              a(href="").btn.btn__red Declined
    .info-list__block
      .info-list__col
        .info-list__item
          .info-list__item-title Escort
          .info-list__item-text Independent
        .info-list__item
          .info-list__item-title ID
          .info-list__item-text 1322
      .info-list__col
        .info-list__item
          .info-list__item-title Account
          .info-list__item-text VIP (12 days)
        .info-list__item
          .info-list__item-title Name
          .info-list__item-text Erica
      .col-auto.ml-auto 
        .center-content
          .info-list__icon-group
            a(href="").info-list__icon-item.info-list__icon-item--blue
              svg.icon.icon--camera
                use(xlink:href="img/sprite.svg#camera")
            a(href="").info-list__icon-item.info-list__icon-item--blue
              svg.icon.icon--camera
                use(xlink:href="img/sprite.svg#camera")
          .info-list__btn-group
            .info-list__btn-item
              a(href="").btn.btn__blue Pending
  h3.category-title.hidden.show-md.mb-30 ALL ORDERS
  .hidden.show-md
    .table-responsive
      table.info-table
        thead
          tr
            th ID
            th PHOTO
            th NICKNAME
            th ESCORT
            th ACCAUNT
            th ACCAUNTS
            th(width="150")
            th(width="150")
        tbody
          tr 
            td 420607
            td
              .info-table__avatar(style="background-image:url(img/pic-1.png)")
            td Jes
            td Independent
            td 
              b.text-violet VIP (15 days)
            td 
            td 
              .btn.btn__green.info-table__btn PAID
            td 
              .btn.btn__violet.info-table__btn EDIT
          tr 
            td 420607
            td
              .info-table__avatar(style="background-image:url(img/pic-1.png)")
            td Home escort
            td Agency
            td 
              b.text-violet VIP (15 days)
            td 23
            td 
              .btn.btn__red.info-table__btn NOT PAID
            td 
              .btn.btn__violet.info-table__btn EDIT
          tr 
            td 420607
            td
              .info-table__avatar(style="background-image:url(img/pic-1.png)")
            td Jes
            td Independent
            td 
              b.text-violet VIP (15 days)
            td 
            td 
              .btn.btn__green.info-table__btn PAID
            td 
              .btn.btn__violet.info-table__btn EDIT
          tr 
            td 420607
            td
              .info-table__avatar(style="background-image:url(img/pic-1.png)")
            td Home escort
            td Agency
            td 
              b.text-violet VIP (15 days)
            td 23
            td 
              .btn.btn__red.info-table__btn NOT PAID
            td 
              .btn.btn__violet.info-table__btn EDIT
