.welcome-nav
  .welcome-nav__list
    .welcome-nav__list-item 
      a(href="#agreement").welcome-nav__list-link.modal-btn INDEPENDENT
    .welcome-nav__list-item 
      a(href="").welcome-nav__list-link AGENCY
    .welcome-nav__list-item 
      a(href="moderators.html").welcome-nav__list-link MODERATOR
    .welcome-nav__list-item 
      a(href="admin.html").welcome-nav__list-link ADMIN
      
      
