.btn {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border:0;
  outline: 0;
  @include transition(0.3s all ease);
  padding: 8px 15px;
  text-decoration: none;
  color: #6d569a;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  border-radius: 6px;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  cursor: pointer;

  &--active {
    background: #6d569a;
    color: #fff;
  }

  &__file {
    position: relative;
    overflow: hidden;

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 200px;
      z-index: 10;
      opacity: 0;
    }
  }

  &__hint {
    color: rgba(#ffffff,0.5);
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;

    &.text-left {
      text-align: left;
    }
  }

  &__large {
    padding: 18px 20px;

    &.btn__icon {
      height: 50px;
      line-height: 50px;
      padding-top: 0;
      padding-bottom: 0;
      @include flex-content-center();
      display: -webkit-inline-flex;
      display: -ms-inline-flex;
      display: inline-flex;
    }

    .icon--upload {
      margin-right: 10px;
      margin-top: -7px;
    }

    .icon--delete {
      margin-right: 10px;
    }
  }

  &__icon {
    fill:#6d569a;
    .icon {
      fill:#6d569a;
    }
  }

  &__violet {
    background: #6d569a;
    color: #fff;

    &.btn__icon {
      fill:#fff;
      .icon {
        fill:#fff;
      }
    }

    &:hover {
      background: #673ab7!important;
    }
  }

  &__green {
    background: #17af11;
    color: #fff;
  }

  &__red {
    background: #ed0b0b;
    color: #fff;
  }

  &__blue {
    background: #0031ff;
    color: #fff;
  }

  &__group-full {
    width: 227px;
    margin-left: auto;
    margin-right: auto;
    .btn  {
      width: 100%;
      margin-bottom: 9px;
    }
  }

  &__full {
    width: 100%;
  }

  &-group {
    @include flex-row();

    &__item {
      .btn {
        border:0;
      }

      &:first-child {
        .btn {
          border-radius: 6px 0 0 6px;
        }
      }

      &:last-child {
        .btn {
          border-radius: 0 6px 6px 0;
        }
      }
    }
  }
}

.btn-r {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border:0;
  outline: 0;
  @include transition(0.3s all ease);
  border: 1px solid #707070;
  padding: 6px 15px;
  text-decoration: none;
  color: #707070;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  border-radius: 6px;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  cursor: pointer;

  &:hover ,
  &:active {
    background: #707070;
    color: #fff;
  }

  &__fix {
    background: #fff!important;
    color: #707070!important;
  }

  &__white {
    border-color: #fff;
    color: #fff;
  }
}

.btn-circle {
  @include square(40px);
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border-radius: 100%;
  @include flex-content-center();
  @include transition(0.3s all ease);

  .icon {
    fill:#fff;
  }

  .icon--check {
    width: 22px;
    height: 19px;
  }

  &__violet {
    background: #6d569a;
    &:hover {
      background: #673ab7;
    }
  }
}

.btn-r-circle {
  @include square(40px);
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border: 1px solid ;
  border-radius: 100%;
  @include flex-content-center();
  @include transition(0.3s all ease);

  &__red {
    border-color: #ff0000;

    .icon {
      fill:#ff0000;
      @include transition(0.3s all ease);
    }

    &:hover {
      background:#ff0000;

      .icon--close {
        fill:#fff;
      }
    }
  }
}

.btn-group-full {
  margin: 30px -15px 0;

  &__item {
    padding: 0 0.5px;
  }

  &__link {
    height: 50px;
    background: #fff;
    transition: 0.3s all ease;
    color: #6d569a;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    line-height: 50px;
    text-decoration: none;
    text-align: center;

    &--active {
      box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.16);
    }
  }
}

@media(max-width: 350px) {
  .btn,
  .btn-r  {
    font-size: 12px;
  }
}

@media(max-width: 767px) {
  .btn {
    &__large-md-d {
      padding: 18px 20px;

      &.btn__icon {
        height: 50px;
        line-height: 50px;
        padding-top: 0;
        padding-bottom: 0;
        @include flex-content-center();
        display: -webkit-inline-flex;
        display: -ms-inline-flex;
        display: inline-flex;
      }

      .icon--upload {
        margin-right: 10px;
        margin-top: -7px;
      }

      .icon--delete {
        margin-right: 10px;
      }
    }

    &__full-md-d {
      width: 100%;
    }
  }
}

@media(min-width: $md) {
  .btn {
    border: 1px solid #6d569a;
    border-radius: 20px;
    padding: 11px 15px;

    &:hover,
    &--active  {
      color: #fff;
      background:  #6d569a;
      .icon {
        fill: #fff;
      }
    }

    &__md-violet {
      background: #6d569a;
      color: #fff;
      border-radius: 50px;
      &:hover {
        background: #673ab7;
      }

      .icon {
        fill: #fff;
      }
    }

    &__large {
      padding: 16px 25px;
    }

    &__blue {
      border-color:#0031ff;

      &:hover {
        color: #fff;
        background:  #0031ff;
      }
    }

    &__green {
      border-color: #17af11;

      &:hover {
        color: #fff;
        background:  #17af11;
      }
    }

    &__red {
      border-color:#ed0b0b;

      &:hover {
        color: #fff;
        background:  #ed0b0b;
      }
    }
  }

  .btn-r  {
    font-size: 16px;
    padding: 9px 15px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid #6d569a;
    color: #6d569a;

    &:hover {
      background: #6d569a;

    }

    &__blue {
      border-color:#0031ff;
      &:hover {
        background: #0031ff;
      }
    }

    &__green {
      border-color: #17af11;
      &:hover {
        background: #17af11;
      }
    }

    &__red {
      border-color:#ed0b0b;
      &:hover {
        background: #ed0b0b;
      }
    }
  }

  .btn-group-full {
    margin-right: 0;
    margin-left: 0;

    &__item {
      padding: 0;
      margin: 0 -0.5px;

      &:first-child {
        .btn-group-full__link {
          border-radius: 50px 0 0 50px;
        }
      }

      &:last-child {
        .btn-group-full__link {
          border-radius: 0 50px 50px 0;
        }
      }

      &.col-1 {
        .btn-group-full__link {
          border-radius: 50px;
        }
      }
    }

    &__link {
      background: #fff;
      transition: 0.3s all ease;
      color: #6d569a;
      font-size: 18px;
      font-weight: 400;
      border: 1px solid #6d569a;
      text-transform: none;
      line-height: 48px;

      &--active ,{
        box-shadow: none;
        background: #6d569a;
        color: #fff;
      }

      &:not(.btn-group-full__link--active):hover {
        background: rgba(#6d569a,0.2);
      }
    }
  }
}
