.tabs {
  margin-top: 15px;

  &-list {
    margin-left: -15px;
    margin-right: -15px;

    &__item-link {
      display: block;
      text-align: center;
      text-decoration: none;
      height: 50px;
      line-height: 50px;
      opacity: 0.6;
      color: rgba(109, 86, 154, 0.5);
      font-size: 14px;
      font-weight: 700;
      position: relative;
      &:before {
        position: absolute;
        top: 100%;
        left: 50%;
        height: 2px;
        width: 0;
        background: rgba(109, 86, 154, 0.75);
        content: '';
        display: block;
        transition: 0.3s all ease;
      }

      &--active {
        color: #6d569a;
        opacity: 1;
        &:before {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  &__item {
    padding: 10px 0;
    display: none;

    &--active {
      display: block;
    }
  }
}

.info-table-m {
  margin-left: -15px;
  margin-right: -15px;

  &__row {
    border-bottom: 1px solid rgba(#6d569a,0.1);
  }

  &__item {
    color: #6d569a;
    font-size: 14px;
    font-weight: 300;
    padding: 16px 15px;
    line-height: 18px;
  }
}

.phone-m {
  &__inner {
    display: inline-block;
    vertical-align: top;
    position: relative;

    span {
      display: block;
      position: absolute;
      background: #6d569a;
      width: 100%;
      height: 18px;
      top: 0;
      left: 0;
      text-align: center;
      color: #ffffff;
      font-size: 10px;
      font-weight: 200;
    }
  }

  &--active {
    .phone-m__inner {
      span {
        display: none;
      }
    }
  }
}

.acordion {
  margin-left: -15px;
  margin-right: -15px;
  h3 {
    color: #6d569a;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0 5px;
  }

  &__text-cont {
    color: rgba(109, 86, 154, 0.75);
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;

    p {
      margin: 0 0 10px;
    }
  }

  &__item {

  }

  &__header {
    border-bottom: 1px solid rgba(#6d569a,0.1);
    padding: 14px 40px 14px 15px;
    position: relative;
    color: #6d569a;
    font-size: 14px;
    font-weight: 300;
    .icon {
      fill: rgba(109, 86, 154, 0.75);
      transition: 0.3s all ease;
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -7px;
    }

    &--active {
      .icon {
        transform: rotate(90deg);
      }
    }
  }

  &__dropdown {
    padding: 15px;
    display: none;

    &--active {
      display: block;
    }
  }
}

.table-price {
  border-collapse: collapse;
  width: 100%;

  &__info {
    color: rgba(109, 86, 154, 0.75);
    font-size: 10px;
    font-weight: 300;
  }

  td {
    color: #6d569a;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    padding: 2px 10px;
    vertical-align: top;
  }
  tr {
    &:nth-child(odd) {
      td {
        background: rgba(#c0b2d6,0.2);
      }
    }
  }

  &__no-bg {
    tr {
      &:nth-child(odd) {
        td {
          background: none;
        }
      }
    }
  }
}

.tags {
  @include flex-row();
  &__item {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    height: 30px;
    border-radius: 6px;
    background: #c0b2d6;
    margin: 0 12px 8px 0;
    padding: 0 10px;
  }
}

.cont-block {
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background: #ffffff;
  padding: 15px;
  margin: 0 0 40px;

  h3 {
    color: #212121;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 15px;
  }

  p {
    margin: 0 0 15px;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
  }
}

.total {
  margin-top: 30px;

  &__num {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0 20px;
    line-height: 36px;
    border: 1px solid #6d569a;
    height: 38px;
    color: #212121;
    font-size: 24px;
    font-weight: 700;
    border-radius: 38px;
  }

  &__text {
    color: #212121;
    font-size: 16px;
    line-height: 1;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    padding: 18px 0 0;
    margin-right: 15px;
  }
}

.or-be {
  @include square(38px);
  background: #fff;
  display: inline-block;
  vertical-align: top;

  .icon {
    fill: #6d569a;
  }
}

.image-slider {
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  &__item {
    max-height: 1000px;
    @include flex-content-center();
  }

  &__img {
    max-height: 100%;
    width: 100%;
  }

  &__img-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;

    &--prev {
      left: 30px;
    }

    &--next  {
      right: 30px;
    }

    .icon {
      width: 22px;
      height: 40px;
      fill: #fff;
      transition: 0.3s all ease;
    }

    &:hover {
      .icon {
        fill: #6d569a;
      }
    }
  }

  &__dots {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;

    &-item {
      margin: 0 15px;
      transition: 0.3s all ease;
      width: 10px;
      height: 10px;
      border: 1px solid #fff;
      display: inline-block;
      vertical-align: top;
      border-radius: 100%;
      cursor: pointer;

      &:hover,
      &--active {
        background: #fff;
      }
    }
  }
}

.video-cont {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  height: 450px;
  overflow: hidden;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(#fff,0.2);
    display: block;
    width: 100%;
    height: 100%;
    content: '';
  }

  &__play {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    border-radius: 100%;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
    background: rgba(#fff,0.4);
    padding: 12px;

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: #fff;
      position: absolute;
      content: '';
      display: block;
      z-index: 5;
      display: block;
      top: 50%;
      left: 50%;
      margin: -5px 0 0 -5px;
      transition: 0.3s all ease;
    }

    &-inner {
      width: 56px;
      height: 56px;
      border-radius: 100%;
      @include flex-content-center();
      background: #6d569a;
      z-index: 10;
      position: relative;
      transition: 0.3s all ease;
      .icon {
        fill: #fff;
        margin: 0 0 0 2px;
      }
    }

    &:hover {
      &:before {
        transform: scale(10);
        opacity: 0.1;
      }
      .video-cont__play-inner {
        background: #3f51b5;
      }
    }
  }
}

@media(min-width: $md) {
  .image-slider__img-bg {
    height: 500px;
  }
}

@media(min-width: 1024px) {
  .cont-block {
    padding: 20px 50px;
  }

  .image-slider__img-bg {
    height: 600px;
  }
}

@media(min-width: 1200px) {
  .image-slider__img-bg {
    height: 750px;
  }
}

@media(min-width: 1400px) {
  .image-slider__img-bg {
    height: 900px;
  }
}
