.form-cont {
  max-width: 440px;
  margin:  auto;
  &__h3 {
    text-align: center;
    margin: 0 0 10px;
  }

  &__date-info {
    margin: 0 auto 15px;
    width: 315px;
    display: block;
  }

  &__submit-wrap {
    text-align: center;
    margin: 30px 0 0;

    h3 {
      margin: 0 0 20px;
    }
  }

  &__submit {
    width: 227px;
  }

  &__email-notifications {
    .switch {
      text-align: center;
    }

    h3 {
      text-align: center;
    }
  }
}

.form-row {
  position: relative;
  margin-bottom: 10px;
  &__label {
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0.5px;
    display: block;
    margin-bottom: -2px;
  }

  &__input {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    display: block;
    width: 100%;
    height: 30px;
    border:0;
    border-bottom: 1px solid rgba(#fff,0.3);
    outline: 0;
    background: transparent;
    font-weight: 300;
    letter-spacing: 0.5px;
    @include placeholder {
      color: rgba(#fff,0.5);
    }

    &:focus ,
    &:active {
      & + .form-row__line {
        width: 100%;
        left: 0;
      }
    }
  }

  &__textarea {
    border: 2px solid rgba(#fff,0.5);
    min-height: 200px;
    border-radius: 10px;
    background: transparent;
    width: 100%;
    outline: 0;
    font-size: 16px;
    line-height: 20px;
    padding:10px 15px;
    color: #fff;
    margin-top: 5px;
    @include placeholder {
      color: rgba(#fff,0.5);
    }
  }

  &__select {
    font-size: 16px;
    line-height: 20px;
    color: rgba(#fff,0.5);
    display: block;
    width: 100%;
    height: 30px;
    border:0;
    border-bottom: 1px solid rgba(#fff,0.3);
    outline: 0;
    background: transparent;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-left: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    z-index: 10;
    @include placeholder {
      color: rgba(#fff,0.5);
    }

    &-arrow {
      fill:rgba(#fff,0.6);
      position: absolute;
      top: 12px;
      right: 0;
    }

    &:focus ,
    &:active {
      color: #fff;
      & + .form-row__line {
        width: 100%;
        left: 0;
      }
    }
  }

  &__line {
    position: absolute;
    left: 50%;
    top: 100%;
    height: 1px;
    width: 0;
    background:#fff;
    @include transition(0.3s all ease);
    z-index: 80;
    margin-top: -1px;
  }

  &__error {
    .form-row__line {
      background: #ed0b0b;
      left: 0;
      width: 100%;
    }
  }

  &__success {
    .form-row__line {
      background: #17af11;
      left: 0;
      width: 100%;
    }
  }

  &__info {
    color: rgba(#fff,0.5);
    font-size: 12px;
    line-height: 1.1;
    font-weight: 300;
    text-align: center;
  }
}

.switch {
  &__label {
    color: rgba(#fff, 0.6);
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin: 4px 28px 0 0;
  }

  &__cont {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 24px;
    border-radius: 20px;
    background-color: #c0b2d6;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }

  &__circle {
    position: absolute;
    top: 0;
    left: 16px;
    @include transition(0.3s all ease);
    width: 24px;
    height: 24px;
    &:after {
      width: 24px;
      height: 24px;
      border-radius: 20px;
      border: 1px solid #c0b2d6;
      background-color: #ffffff;
      z-index: 10;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      content: '';
      display: block;
      height: 24px;
      width: 40px;
      background: #fff;
      opacity: 0;
      transition:0.3s all ease;
    }
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    opacity: 0;
    margin: 0;
    z-index: 20;
    cursor: pointer;
    &:checked {
      & + .switch__circle {
        left: 0;

        &:before {
          opacity: 1;
        }
      }
    }
  }
}

.checkbox {
  &__label {
    position: relative;
    display: inline-block;
    padding-left: 28px;
    cursor: pointer;
  }

  &__styler {
    position: absolute;
    top: 1px;
    left: 0;
    @include square(20px);
    border: 1px solid #fff;
    border-radius: 5px;
    &:before {
      position: absolute;
      top: 4px;
      left: 2px;
      display: block;
      content: '';
      transition: 0.3s all ease;
      width: 15px;
      height: 11px;
      background: url("#{$rootUrl}check.svg") no-repeat center;
      background-size: cover;
      @include transform(scale(0));
      opacity: 0;
      visibility: hidden;
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &:checked {
      & + .checkbox__styler {
        &:before {
          @include transform(scale(1));
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__text {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    line-height: 20px;
  }
}

.checkbox-title {
  margin: 0;
  line-height: 20px;
}

.range-slider {
  height: 2px;
  position: relative;
  margin: 15px 0 35px;
  background: #fff;

  &:before ,
  &:after {
    @include square(8px);
    border-radius: 100%;
    background: #fff;
    content: '';
    display: block;
    top: -3px;
    position: absolute;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &__inner {
    height: 2px;
    background: #6d569a;
    position: absolute;
  }

  &__handle {
    @include square(17px);
    border: 3px solid #6d569a;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    top: -8px;
    margin-left: -8px;

    span  {
      position: absolute;
      display: block;
      top: 100%;
      left: 50%;
      width: 50px;
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px;
      text-align: center;
      margin: 5px 0 0 -25px;
    }
  }
}

.services {
  @include flex-row();
  margin-top: 8px;

  &__item  {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    border-radius: 6px;
    height: 30px;
    background-color: #c0b2d6;
    padding: 0 8px;
    margin: 0 12px 12px 0;
  }

  &__add {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #ffffff;
    display: block;
    position: relative;
    margin-bottom: 12px;
    @include flex-content-center();
    .icon {
      fill: #6d569a;
    }
  }
}

.submit-full {
  height: 50px;
  background: #fff;
  line-height: 50px;
  color: #6d569a;
  font-size: 14px;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 -15px;
  display: block;
  text-decoration: none;
}

.select-m {
  width: 120px;
  height: 38px;
  position: relative;
  border: 1px solid #6d569a;
  border-radius: 38px;

  &__cont {
    display: block;
    width: 100%;
    line-height: 36px;
    height: 36px;
    text-align: center;
    border: 0;
    outline: 0;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    background: transparent;
  }

  &__dropdown {
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 8px;
    opacity: 0;
    transform: translate(0,50px);
    visibility: hidden;
    transition: 0.3s all ease;
    z-index: 100;

    &-inner {
      background: #fff;
      box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      position: relative;
      padding: 8px 0;
      border: 1px solid #6d569a;

      &:before {
        bottom: 100%;
      	left: 50%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
      	border-color: rgba(238, 238, 238, 0);
      	border-bottom-color: #6d569a;
      	border-width: 7px;
      	margin-left: -7px;
        margin-bottom: 1px;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          color: #212121;
          font-weight: 500;
          font-size: 14px;
          padding: 8px 10px;
          transition: 0.3s all ease;
          line-height: 1;
          border-bottom: 1px solid #eee;
          &:last-child {
            border-bottom: 0;
          }

          &:hover,
          &.active  {
            background: #6d569a;
            color: #fff;
          }
        }
      }
    }
  }

  &__btn {
    position: absolute;
    top: -1px;
    line-height: 38px;
    height: 38px;
    width: 50px;
    background: #6d569a;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    .icon--arrow-down {
      fill: #fff;
      margin: 17px 3px 0;
      transition: 0.3s all ease;
    }

    &:hover {
      .icon--arrow-down {
        transform: rotate(180deg);
      }

      .select-m__dropdown {
        opacity: 1;
        transform: translate(0,0);
        visibility: visible;
      }
    }
  }

  &__left {
    padding-left: 50px;

    .select-m__btn {
      left: -1px;
      border-radius: 38px 0 0 38px
    }
  }

  &__right {
    padding-right: 50px;

    .select-m__btn {
      right: -1px;
      border-radius: 0 38px 38px 0;
    }
  }
}

@media(min-width: $md) {
  .form-cont {
    max-width: none;

    &__submit-wrap {
      margin: 0;

      .flex-wrap {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
      }
    }

    &__submit {
      min-width: 150px;
    }
  }

  .form-block {
    background: #fff;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 15px;
  }

  .form-row {
    &__label {
      font-size: 14px;
      color: #212121;
      font-weight: 300;
      margin-bottom: 5px;
    }

    &__textarea {
      min-height: 300px;
      border-width: 1px;
      border-color:#6d569a;
      border-radius: 16px;
      color: #000;
      @include placeholder {
        color: rgba(#000,0.5);
      }
    }

    &__info  {
      opacity: 0.5;
      color: #6d569a;
      text-align: left;
    }

    &__input {
      height: 35px;
      border: 1px solid #6d569a;
      border-radius: 16px;
      text-align: center;
      font-size: 14px;
      color: #000;
      @include placeholder {
        color: rgba(#000,0.5);
      }

      &--large {
        height: 50px;
        border-width: 2px;
        border-radius: 50px;
        font-size: 16px;
      }
    }

    &__select {
      height: 35px;
      border: 1px solid #6d569a;
      border-radius: 16px;
      text-align: center;
      font-size: 12px;
      color: #000!important;
      padding: 0 15px;
      @include placeholder {
        color: rgba(#000,0.5);
      }

      &-arrow {
        fill:#6d569a;
        top: 34px;
        right: 10px;
      }
    }

    &__line {
      display: none;
    }

    &__error {
      .form-row__input {
        border-color: #ed0b0b;
      }
    }

    &__success {
      .form-row__input {
        border-color: #17af11;
      }
    }
  }

  .switch {
    &__label {
      color: #212121;
      font-size: 14px;
      font-weight: 300;
    }

    &__circle {
      &:before {
        background: #6d569a;
      }
    }
  }

  .checkbox {
    &__styler {
      border-color: #6d569a;
      &:before {
        background: url("#{$rootUrl}check-v.svg") no-repeat center;
      }
    }

    &__text {
      color:#6d569a;
    }
  }

  .checkbox-title {
    color: #000;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .range-slider {
    max-width: 557px;
    border: 1px solid #6d569a;
    height: 4px;
    margin-bottom: 50px;

    &:after ,
    &:before {
      background: #6d569a;
      width: 16px;
      height: 16px;
      top: -7px;
    }

    &:after {
      right: -1px;
    }

    &:before {
      left: -1px;
    }

    &__handle {
      width: 30px;
      height: 30px;
      top: -15px;

      span {
        color: #6d569a;
        font-size: 16px;
      }
    }
  }
}

@media(min-width: 1024px) {
  .select-m  {
    width: 150px;
  }
}
