
.pull-left {float: left;}
.pull-right {float: right;}

.hidden {display: none;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}
.text-uppercase {text-transform: uppercase;}

.justify-content-start {
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

.justify-content-around {
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.max-width-600 {
  max-width: 600px;
}

.max-width-500 {
  max-width: 500px;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.img-full {
  width: 100%;
  display: block;
}

.img-cont {
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 8px;
}

img {
  height: auto;
}

// colors
.text-white {
  color: #fff;
}

.text-violet {
  color: #6d569a;
}

.full-h-content {
  height: 100vh;
}

.flex-img-center,
.flex-content-center {
    @include flex-content-center();
}

.center-content {
  @include flex-content-center();
}

.p-0 {
  padding: 0!important;
}

.pt-0 {
  padding-top: 0!important;
}

.pr-0 {
  padding-right: 0!important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.pl-0 {
  padding-left: 0!important;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}
// margin 0
.m-0 {
  margin: 0!important;
}
.mt-0 {
  margin-top: 0!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mr-0 {
  margin-right: 0!important;
}

.ml-0 {
  margin-left: 0!important;
}
// margin 5
.m-5 {
  margin: 5px!important;
}
.mt-5 {
  margin-top: 5px!important;
}

.mb-5 {
  margin-bottom: 5px!important;
}

.mr-5 {
  margin-right: 5px!important;
}

.ml-5 {
  margin-left: 5px!important;
}

// margin 15
.m-15 {
  margin: 15px!important;
}
.mt-15 {
  margin-top: 15px!important;
}

.mb-15 {
  margin-bottom: 15px!important;
}

.mr-15 {
  margin-right: 15px!important;
}

.ml-15 {
  margin-left: 15px!important;
}
// margin 30
.mt-30 {
  margin-top: 30px!important;
}

.m-30 {
  margin: 30px!important;
}
.mb-30 {
  margin-bottom: 30px!important;
}

.mr-30 {
  margin-right: 30px!important;
}

.ml-30 {
  margin-left: 30px!important;
}

// margin 60
.mt-60 {
  margin-top: 60px!important;
}
.m-60 {
  margin: 60px!important;
}
.mb-60 {
  margin-bottom: 60px!important;
}

.mr-60 {
  margin-right: 60px!important;
}

.ml-60 {
  margin-left: 60px!important;
}

@media(min-width: $md) {
  .m-md-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
