.icon {
  display: inline-block;
  vertical-align: top;

  &--bell {
    fill:  #fff;
    width: 20px;
    height: 21px;
  }

  &--profile {
    width: 49px;
    height: 46px;
  }

  &--picture {
    width: 48px;
    height: 48px;
  }

  &--airplane {
    width: 48px;
    height: 51px;
  }

  &--controls {
    width: 49px;
    height: 47px;
  }

  &--verify {
    width: 48px;
    height: 46px;
  }

  &--credit-card {
    width: 54px;
    height: 43px;
  }

  &--filters {
    width: 17px;
    height: 19px;
    fill: #fff;
  }

  &--camera {
    width: 17px;
    height: 13px;
  }

  &--search {
    width: 18px;
    height: 18px;
  }

  &--arrow-down {
    width: 11px;
    height: 6px;
  }

  &--arrow-l-right {
    width: 12px;
    height: 12px;
  }

  &--check {
    width: 15px;
    height: 11px;
  }

  &--delete {
    width: 18px;
    height: 19px;
  }

  &--upload {
    width: 18px;
    height: 24px;
  }

  &--close {
    width: 20px;
    height: 20px;
  }

  &--manage {
    width: 57px;
    height: 56px;
  }

  &--pencil {
    width: 12px;
    height: 12px;
  }

  &--filter {
    width: 19px;
    height: 17px;
  }

  &--pluse {
    width: 13px;
    height: 13px;
  }

  &--arrow-back {
    width: 18px;
    height: 17px;
  }

  &--register {
    width: 19px;
    height: 19px;
  }

  &--star-full {
    width: 20px;
    height: 20px;
  }

  &--star {
    width: 20px;
    height: 20px;
  }

  &--guarantee {
    width: 14px;
    height: 14px;
  }

  &--arrow-right {
    width: 7px;
    height: 15px;
  }

  &--arrow-left {
    width: 7px;
    height: 15px;
  }

  &--arrow-top {
    width: 15px;
    height: 7px;
  }

  &--arrow-bottom {
    width: 15px;
    height: 7px;
  }

  &--favorite {
    width: 50px;
    height: 50px;
  }

  &--check-o {
    width: 50px;
    height: 49px;
  }

  &--load-o {
    width: 38px;
    height: 38px;
  }

  &--play {
    width: 16px;
    height: 19px;
  }
}
