* {@include box-sizing(border-box);}

:after,
:before {
  @include box-sizing(border-box);
}

body, html {
  height: 100%;
}

body {
  font-family: $baseFontFamily;
  font-weight: 400;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background: $bodyBackground;
  min-width: 320px;
  margin:auto;
}

#main {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(209deg, #c0b2d6 0%, #6d569a 100%);

  &.main-no-bg {
    background: none;
  }
}

@media(min-width: $md) {
  #main {
    background: #fff;
    min-height: calc(100vh - 150px);
    padding-bottom: 30px;
  }
}
