h1 {
  font-size: 26px;
  font-weight: 300;
  color: #fff;
}

h2 {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

h4 {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin: 15px 0;
}

.category-title {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: #6d569a;
  margin: 30px 0;
}

.text-ps {
  font-size: 18px;
  color: rgba(#fff,0.5);
  line-height: 1.1;
  font-family: Helvetica;
  margin-top: 15px;
}

.text-info {
  font-size: 16px;
  color: rgba(#fff,0.5);
  line-height: 1.1;
  font-family: Helvetica;
  margin-top: 30px;

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}

.text-page {
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;

  p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.1;
    margin: 0 0 10px;
  }

  b {
    font-weight: 500;
  }
}

.text-num {
  @include square(30px);
  border-radius: 100%;
  background: #fff;
  margin: 15px auto;
  line-height: 30px;
  color: #6d569a;
  font-size: 18px;
  font-weight: 500;
}

@media(min-width: $md) {
  h3 {
    color: #6d569a;
    font-size: 24px;
    font-weight: 700;
  }

  h1 , h2 , h4 {
    color: #212121;
  }

  .text-ps {
    color: rgba(#000,0.5);
  }

  .text-info {;
    color: rgba(#000,0.5);

    a {
      color: #000;
    }
  }

  .text-page {
    max-width: none;

    p {
      color: #000;
      font-size: 16px;
    }
  }

  .text-num {
    @include square(40px);
    background: #6d569a;
    line-height: 40px;
    color: #fff;
  }
}
