// fonts
$Poppins: 'Poppins', sans-serif;
// root
$rootUrl: "images/";
$rootUrlFonts: "../fonts/";

// color

// base reset
$baseFontFamily:$Poppins;
$baseFontSize: 16px;
$baseLineHeight: 1.5;
$textColor: #36373c;
$bodyBackground:#fff;

$md: 768px;
